﻿@{
    ViewBag.Title = "Shippers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@Html.AntiForgeryToken()

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #7C1010;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Shippers</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item active" id="breadcrum">Manage Shippers</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">

                <div class="tab-content">
                    <div class="tab-pane show active" id="Home-withicon">
                        <div class="row">
                            <div class="col-12">
                                <a href="javascript:void(0);" style="float:left;" class="btn btn-dark" data-toggle="modal" data-target="#search"><span><i class="fa fa-filter"></i></span>&nbsp; Advance Search </a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <input type="hidden" id="checklog2" />
                                        <div class="tools col-md-12"></div>
                                    </div>
                                    <div class="portlet-body table-responsive" id="divShippersTable">
                                        <table class="table table-striped table-bordered table-hover" id="ShippersTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Advance Search Popup-->
@*<div class="modal animated fadeIn" id="search" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row clearfix">
                            <div class="col-md-4 col-sm-12">
                                <label>Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Email</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Phone</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4 col-sm-12">
                                <label>Select Country</label>
                                <div class="form-group">
                                    <div class="select2-container form-control show-tick ms select2" id="s2id_autogen1"><a href="javascript:void(0)" class="select2-choice select2-default" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-2">Select</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen2_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-2">   </ul></div></div><select class="form-control show-tick ms select2" data-placeholder="Select" tabindex="-1" title="" style="display: none;">
                                        <option></option>
                                        <option>India</option>
                                        <option>Russia</option>
                                        <option>South Africa</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Status</label>
                                <div class="form-group">
                                    <div class="select2-container form-control show-tick ms select2" id="s2id_autogen3"><a href="javascript:void(0)" class="select2-choice select2-default" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-4">Select</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen4" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-4" id="s2id_autogen4"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen4_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-4" id="s2id_autogen4_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-4">   </ul></div></div><select class="form-control show-tick ms select2" data-placeholder="Select" tabindex="-1" title="" style="display: none;">
                                        <option></option>
                                        <option>Active</option>
                                        <option> Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 40px;">
                    <!--<button type="button" class="btn btn-primary">Add</button>-->
                    <button type="button" class="btn btn-primary saveBtn">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled="" style="display:none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="reset" class="btn btn-secondary closeBtn">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>*@
<!--View Details modal popup-->
<div id='view_details' class='modal animated fadeIn' tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

@*<div class="modal animated fadeIn" id="view_details" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header mb-4">
                        <h6 class="title" id="defaultModalLabel">John Doe's Details</h6>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="p-3">
                                <div class="body">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link active show" id="location" data-toggle="tab" href="http://cargoxpresshtml.lamproskids.com/cargoexpress/shippers.html#Details">Details</a></li>
                                        <li class="nav-item"><a class="nav-link" id="wine" data-toggle="tab" href="http://cargoxpresshtml.lamproskids.com/cargoexpress/shippers.html#documents">Documents</a></li>
                                        <li class="nav-item"><a class="nav-link" id="wine" data-toggle="tab" href="http://cargoxpresshtml.lamproskids.com/cargoexpress/shippers.html#addresses">Addresses</a></li>
                                    </ul>
                                    <div class="tab-content mt-2">
                                        <div class="tab-pane show active" id="Details">
                                            <div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>First Name</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="Bacardi" placeholder="Enter First Name" disabled="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Last Name</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="Mojito" placeholder="Enter Last Name" disabled="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Company Name</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="Wine" placeholder="Enter Company Name" disabled="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Trading Liscence Number</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="123 456 789" placeholder="Enter Trading Liscence Number" disabled="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Tin</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="Tin" placeholder="Enter Tin" disabled="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Registrant Id</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="101" placeholder="Enter Registrant Id" disabled="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Email</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="Bacardi Mojito" placeholder="Enter Email" disabled="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Country Code</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="+91" placeholder="Enter Country Code" disabled="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <label>Phone Number</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="7600190008" placeholder="Enter Phone Number" disabled="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Commodity Groups</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" value="Maximum Tonage" placeholder="Enter Maximum Tonage" disabled="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Active / Inactive</label>
                                                        <div class="form-group">
                                                            <div class="select2-container select2-container-disabled form-control show-tick ms select2" id="s2id_autogen5"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-6">Active</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen6" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-6" id="s2id_autogen6" disabled=""><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen6_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-6" id="s2id_autogen6_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-6">   </ul></div></div><select class="form-control show-tick ms select2" data-placeholder="Select" disabled="" tabindex="-1" title="" style="display: none;">
                                                                <option selected="">Active</option>
                                                                <option>Inactive</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="documents">
                                            <div class="tbl-content">
                                                <table class="table m-b-0">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Document Name</th>
                                                            <th>View</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Trading License</td>
                                                            <td>
                                                                <a target="_blank" href="https://d3nn873nee648n.cloudfront.net/900x600/18792/220-ER862695.jpg" style="color: #007BFE;">
                                                                    View
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Passport</td>
                                                            <td>
                                                                <a target="_blank" href="https://d3nn873nee648n.cloudfront.net/900x600/18792/220-ER862695.jpg" style="color: #007BFE;">
                                                                    View
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="addresses">
                                            <div class="tbl-content">
                                                <table class="table ">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Location Type</th>
                                                            <th>Address</th>
                                                            <th>View</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Port</td>
                                                            <td>
                                                                342 Park Avenue , <br>
                                                                Orlando , FL , UnitedState
                                                            </td>
                                                            <td>
                                                                <a target="_blank" href="https://d3nn873nee648n.cloudfront.net/900x600/18792/220-ER862695.jpg" style="color: #007BFE;">
                                                                    View
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Factory</td>
                                                            <td>
                                                                200 Berling Street , <br>Orlando , Mumbai , India
                                                            </td>
                                                            <td>
                                                                <a target="_blank" href="https://d3nn873nee648n.cloudfront.net/900x600/18792/220-ER862695.jpg" style="color: #007BFE;">
                                                                    View
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Warehouse</td>
                                                            <td>
                                                                466 Baker Street ,<br> Orlando , FL , UnitedState
                                                            </td>
                                                            <td>
                                                                <a target="_blank" href="https://d3nn873nee648n.cloudfront.net/900x600/18792/220-ER862695.jpg" style="color: #007BFE;">
                                                                    View
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer" style="margin-top: 40px;">
                                    <!--<button type="button" class="btn btn-primary">Add</button>-->
                                    <button type="reset" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>*@

@*<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <form class="form-auth-small" method="post" id="frmuser">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />

                        <div class="col-md-4 col-sm-12">
                            <label>Id</label>
                            <div class="form-group">
                                <input type="text" id="LocationId" name="LocationId" class="form-control" placeholder="Enter Id *">
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-12">
                            <label>Location</label>
                            <div class="form-group">
                                <input type="text" id="LocationName" name="LocationName" class="form-control" placeholder="Enter Location *">
                            </div>
                        </div>

                        @*<div class="col-md-4 col-sm-12">
                                <label>State</label>
                                <div class="form-group">
                                    @Html.Raw(@Html.DropDownList("StateId", (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @Id = "StateId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType == 1 ? "" : "disabled=\"disabled\"")))
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <label>Service Type</label>
                                <div class="form-group">
                                    @Html.Raw(@Html.DropDownList("ServiceTypeId", (IEnumerable<SelectListItem>)ViewBag.ServiceTypes, "Select Service Type", new { @Id = "ServiceTypeId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType == 1 ? "" : "disabled=\"disabled\"")))
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Bar Type</label>
                                <div class="form-group">
                                    @Html.Raw(@Html.DropDownList("BarTypeId", (IEnumerable<SelectListItem>)ViewBag.BarTypes, "Select Bar Type", new { @Id = "BarTypeId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType == 1 ? "" : "disabled=\"disabled\"")))
                                </div>
                            </div>*@
@*<br/>
    <div class="header">
        <h3> Listing </h3>
    </div>*@

@* <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <input type="hidden" id="checklog2" />
                                        <div class="tools col-md-12"></div>
                                    </div>
                                    <div class="portlet-body" id="divShippersTable">
                                        <table class="table table-striped table-bordered table-hover" id="ShippersTable"></table>
                                    </div>
                                </div>
                            </div>




                            <div class="col-12" style="text-align:right;">
                                <input type="submit" id="userSave" class="btn btn-primary" style="color: white !important;background: #138496 !important;" value="Save">
                                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Saving...
                                </button>
                                <a href="@Url.Action(Actions.Index,Controllers.Home,new { Area = ""})" class="btn btn-secondary closeBtn" id="userClose">Cancel</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}


@section Scripts {
    <script>
    jQuery(document).ready(function () {
         $("#Id").val(@ViewBag.Id);
        @*if (@ViewBag.Id > 0) {
            GetById();
        }*@

        TableDatatablesColreorder2.init();
    });

        // Call for View Details start
        @*function shipperDetails(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action(Actions.ShipperDetails, Controllers.Shippers, new { area = "" })',
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#view_details').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }*@
        // Call for View Details end

    var TableDatatablesColreorder2 = function () {

    var initTable2 = function () {
        var table = $('#ShippersTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            //"scrollX": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindShippersData, Controllers.Shippers, new { area =""})',
                type: "post",
                data: BuildSearchCriteria2()
            },
            "columns": [
                //{
                //    "title": "Full Name", "mData": function (data, type, dataToSet) {
                //        return "<span class='list-name'>" + data.FirstName + " " + data.LastName + "</span><br/><span class='text-muted'>" + data.Email + "</span><br/><span class='text-muted'>" + data.PhoneNumber + "</span>";
                //    }, "orderable": false, "width": "5%"
                //},
                {
                    "title": "Profile", "mData": function (data, type, dataToSet) {
                        return '<img class="rounded-circle width35" src="'+data.FileUrlStr+'"/>';
                    }, "orderable": false, "width": "5%"
                },
                 {
                     "title": "Details", "mData": function (data, type, dataToSet) {
                         return "<span class='list-name'><b><i class='icon-user'></i>&nbsp;&nbsp;" + data.FirstName + " " + data.LastName + "</b></span><br/><span><i class='icon-envelope-open'></i>&nbsp;&nbsp;<a href='mailto:"+data.Email+"'>" + data.Email + "</span><br/><span><i class='icon-call-out'></i>&nbsp;&nbsp;<a href='tel:"+data.PhoneNumberStr+"'>" + data.PhoneNumberStr +"</span>";
                     }, "orderable": false, "width": "5%"
                 },
                { "title": "Sign Up Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" },
                { "title": "Last Login", "data": "LastLoginStr", "orderable": false, "width": "5%" },
                { "title": "Active Jobs", "data": "ActiveJobs", "orderable": false, "width": "5%" },
                {
                    "title": "Amount Spent ($)", "mData": function (data, type, datatToSet) {
                        return '<span><b>$'+data.AmountPaid+'</b><span>';
                    }, "orderable": false, "width": "5%"
                },
                {
                    "title": "Status", "data": "",
                    "render": function (data, type, row) {
                        if (row["IsActive"]) {
                            return '<button class="badge badge-success" onclick=InactiveMessage("'+row["Id"]+'") style="cursor:pointer;">Active</button>';
                        } else {
                            return '<button class="badge badge-danger" onclick=ActiveMessage("'+row["Id"]+'") style="cursor:pointer;">In-Active</button>';
                        }
                    },
                    "orderable": false, "width": "3%"
                },
                {
                    "title": "Plan", "data": "",
                    "render": function (data, type, row) {
                        if (row["IsPlanActive"]) {
                            return '<button class="badge badge-success"style="cursor:pointer;">Plan Active</button>';
                        } else {
                            return '<button class="badge badge-danger" style="cursor:pointer;">Plan In-Active</button>';
                        }
                    },
                    "orderable": false, "width": "3%"
                },
                //{
                //    "title": "Email Verified", "data": "",
                //    "render": function (data, type, row) {
                //        if (row["IsEmailVerified"]) {
                //            return '<button class="badge badge-success">Yes</button>';
                //        } else {
                //            return '<button class="badge badge-danger">No</button>';
                //        }
                //    },
                //    "orderable": false, "width": "3%"
                //},
                {
                    "title": "Actions","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        //appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Details" onClick = "shipperDetails(' + row["Id"] + ')"><i class="fa fa-eye"></i></button>';
                        appendstring += '<a  href="@Url.Action(Actions.ShipperDetails,Controllers.Shippers)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>';
                        appendstring += '<a  href="@Url.Action(Actions.AddEditShipper,Controllers.Shippers)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Edit Shipper"><i class="fa fa-edit"></i></a>';
                        appendstring += '<button  type="button" class="btn btn-sm btn-outline-secondary" title="View Jobs"><i class="fa fa-handshake-o"> </i></button>';
                        appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Ratings"><i class="fa fa-star-o"> </i></button>';

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Add New Shipper',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenAddNewShipper();
                    }
                },
                //{
                //    text: 'Delete Selected Shippers',
                //    className: 'addDelete',
                //    action: function (e, dt, node, config) {
                //        //dt.ajax.reload();
                //        ConfirmMessage();
                //    }
                //}
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#ShippersTable")) {
                $('#ShippersTable').dataTable().fnDestroy();
                $('#divShippersTable').html('<table class="table table-striped" width="100%" id="ShippersTable"></table>');
            }
            initTable2();
        }
    };

    }();


    function BuildSearchCriteria2() {
    try {
        var param = {};
        //param["Email"] = @ViewBag.Id;
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }

    function addRequestVerificationToken2(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
    }
    //confirmation toaster
    function InactiveMessage(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be in-activating the shipper !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id, "inactivate");
        });
    }

    //confirmation toaster
    function ActiveMessage(Id) {
        swal({
            title: "Are you ?",
            text: "You will be activating the shipper !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id, "activate");
        });
    }


    //ajax call function
    function ActInact(rui, type) {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ActInact,Controllers.Shippers)',
            data: ({ ShipperId: rui }),
            dataType: 'json',
            success: function (response) {
                if (type == "inactivate") {
                    swal("In Activated !", "The shipper has been in-activated successfully.", "success");
                } else if (type == "activate") {
                    swal("Activated !", "The shipper has been activated successfully.", "success");
                }
                TableDatatablesColreorder2.init();
            },
            error: function (error) {
                if (type == "inactivate") {
                    swal("Error !", "An error occured while in-activating the shipper.", "error");
                } else if (type == "activate") {
                    swal("Error !", "An error occured while activating the shipper.", "error");
                }
                // refresh the grid.
                TableDatatablesColreorder2.init();
            }
        });
    }
     function OpenAddNewShipper() {
        window.location.href = '@Url.Action(Actions.AddEditShipper, Controllers.Shippers)';
    }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}