﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()

@model Job


@{
    ViewBag.Title = "Completed Job Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #7C1010;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .dt-buttons {
        visibility: hidden;
    }

    .stars-container {
        position: relative;
        display: inline-block;
        color: transparent;
        font-size:larger;
    }

        .stars-container:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '★★★★★';
            color: lightgray;
            font-size: larger;
        }

        .stars-container:after {
            position: absolute;
            top: 0;
            left: 0;
            content: '★★★★★';
            color: gold;
            overflow: hidden;
            font-size: larger;
        }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Completed Job Details</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Jobs,new { Area=""})">Manage Jobs</a>
                <li class="breadcrumb-item active" id="breadcrum">@Model.JobNo / Job Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" id="Details" data-toggle="tab" href="#details">Job Details</a></li>
                        <li class="nav-item"><a class="nav-link" id="JobRatings" data-toggle="tab" href="#jobratings">Job Ratings</a></li>
                        <li class="nav-item"><a class="nav-link" id="CarrierAndDriverDetails" data-toggle="tab" href="#carrieranddriverdetails">Carrier & Driver Details</a></li>
                        <li class="nav-item"><a class="nav-link" id="Activity" data-toggle="tab" href="#activity">Job Activity</a></li>
                        <li class="nav-item"><a class="nav-link" id="Bids" data-toggle="tab" href="#bids">Job Bids</a></li>
                        <li class="nav-item"><a class="nav-link" id="Billofloading" data-toggle="tab" href="#billofloading">Bill Of Loading</a></li>
                        <li class="nav-item"><a class="nav-link" id="JobDriverComments" data-toggle="tab" href="#jobdrivercomments">Job Driver Comments</a></li>
                        <li class="nav-item"><a class="nav-link" id="JobComments" data-toggle="tab" href="#jobcomments">Job Comments</a></li>
                        <li class="nav-item"><a class="nav-link" id="Jobdocuments" data-toggle="tab" href="#jobdocuments">Job Documents</a></li>
                    </ul>
                    <div class="tab-content mt-2">
                        <div class="tab-pane active" id="details">
                            <div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Job No</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.JobNo, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Pickup Date</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.PickupDate, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Distance</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Distance, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Truck Type</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.TruckType, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Truck Service</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.TruckService, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    @if (Model.TruckService == "FCL")
                                    {
                                        <div class="col-md-4 col-sm-12">
                                            <label>No. Of Containers</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.NoOfContainer, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <label>Container Type</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.TruckLength, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                    }
                                    @if (Model.TruckService == "FCL" || Model.TruckService == "FTL" || Model.TruckService == "LTL")
                                    {
                                        <div class="col-md-4 col-sm-12">
                                            <label>Actual Tonage</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ActualTonage, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                    }
                                    @if (Model.TruckService == "FTL" || Model.TruckService == "LTL")
                                    {<div class="col-md-4 col-sm-12">
                                            <label>Total Pallets</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.TotalPallets, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <label>CBM</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Cbm, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Commodity Type</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CommodityType, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Hs Code</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.HsCode, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Pick Up Address</label>
                                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@Model.PickUpAddressLatitude,@Model.PickUpAddressLongitude"><i class="fa fa-map-marker"></i></a>
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.PickUpAddress, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Drop Off Address</label>
                                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@Model.DropOffAddressLatitude,@Model.DropOffAddressLongitude"><i class="fa fa-map-marker"></i></a>
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.DropOffAddress, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Is Fragile</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.IsFargile, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">

                                    <div class="col-md-4 col-sm-12">
                                        <label>Is Express</label>
                                        <div class="form-group">
                                            @if (Model != null && Model.IsExpres)
                                            {
                                                <input type="text" class="form-control" value="Yes" disabled />
                                            }
                                            else if (Model != null && !Model.IsExpres)
                                            {
                                                <input type="text" class="form-control" value="No" disabled />
                                            }
                                        </div>
                                    </div>
                                    @if (Model.IsExpres)
                                    {
                                        <div class="col-md-4 col-sm-12">
                                            <label>Express Date</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ExpressDate, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-4 col-sm-12">
                                        <label>Special Instructions</label>
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.SpecialMessage, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Posted Date</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                </div>
                                <div style="float:right; padding:20px">
                                    <button onclick="openLocation()" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                        @*<div class="tab-pane" id="jobratings">
            <h5>SHIPPER'S RATINGS</h5>
            <div class="row clearfix form-group">
                <div class="col-md-2 col-sm-12">
                    <label>Shipper's Rating</label>
                </div>
                <div class="col-md-10 col-sm-12">
                    <span id="ShipperRatings"></span>
                </div>
            </div>
            <div class="row clearfix form-group">
                <div class="col-md-2 col-sm-12">
                    <label>Shipper's comments</label>
                </div>
                <div class="col-md-10 col-sm-12">
                    @Html.TextAreaFor(model => model.CommentToShipper, new { @class = "form-control", disabled = "" })
                </div>
            </div>
            <div class="row clearfix form-group">
                <div class="col-md-2 col-sm-12">
                    <label>Review Date</label>
                </div>
                <div class="col-md-10 col-sm-12">
                    @Html.TextBoxFor(model => model.RatingToShipperDate, new { @class = "form-control", disabled = "" })
                </div>
            </div>
            <h5>CARRIER’S RATING</h5>
            <div class="row clearfix form-group">
                <div class="col-md-2 col-sm-12">
                    <label>Carrier's Rating</label>
                </div>
                <div class="col-md-10 col-sm-12">
                    <span id="CarrierRatings"></span>
                </div>
            </div>
            <div class="row clearfix form-group">
                <div class="col-md-2 col-sm-12">
                    <label>Carrier's comments</label>
                </div>
                <div class="col-md-10 col-sm-12">
                    @Html.TextAreaFor(model => model.CommentToCarrier, new { @class = "form-control", disabled = "" })
                </div>
            </div>
            <div class="row clearfix form-group">
                <div class="col-md-2 col-sm-12">
                    <label>Review Date</label>
                </div>
                <div class="col-md-10 col-sm-12">
                    @Html.TextBoxFor(model => model.RatingToCarrierDate, new { @class = "form-control", disabled = "" })
                </div>
            </div>
        </div>*@
                        <div class="tab-pane" id="jobratings">
                            <h5>SHIPPER'S RATINGS</h5>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Shipper's Rating</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextAreaFor(model => model.RatingToShipper, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Shipper's comments</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextAreaFor(model => model.CommentToShipper, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Review Date</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.RatingToShipperDate, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <h5>CARRIER'S RATINGS</h5>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Carrier's Rating</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextAreaFor(model => model.RatingToCarrier, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Carrier's comments</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextAreaFor(model => model.CommentToCarrier, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Review Date</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.RatingToCarrierDate, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="carrieranddriverdetails">
                            <h5>CARRIER DETAILS</h5>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Profile</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <img src="@Model.CarrierProfilePhotoStr" class="rounded-circle width35" alt="Carrier-Profile-Image">
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Company Name</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Full Name</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.CarrierName, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Avg Rating</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <span class="rating" data-score="4"></span>
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Bid Amount</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>No. Of Days</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.NoOfCompletionDays, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <h5>Driver Details</h5>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Profile</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <img src="@Model.DriverProfilePhotoStr" class="rounded-circle width35" alt="Carrier-Profile-Image">
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Driver Name</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Truck Plate No.</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.TruckPlate, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <h5>Driver's Locations</h5>
                            <div class="row clearfix form-group">
                                <div class="col-md-12 col-sm-12">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.4766982097503!2d-81.37967888491916!3d28.555444882448263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77af144eaaaab%3A0x84f58ee8038c3402!2sUS%20Equity%20Advantage!5e0!3m2!1sen!2sin!4v1586179521950!5m2!1sen!2sin" width="900" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="activity">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobActivityTable">
                                    <table class="table table-striped table-bordered table-hover" id="JobActivityTable"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="bids">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobBidsTable">
                                    <table class="table table-striped table-bordered table-hover" id="JobBidsTable"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="billofloading">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divBillofloadingTable">
                                    <table class="table table-striped table-bordered table-hover" id="BillofloadingTable"></table>
                                </div>
                            </div>
                        </div>1
                        <div class="tab-pane" id="jobdrivercomments">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobDriverCommentsTable">
                                    <table class="table table-striped table-bordered table-hover" id="JobDriverCommentsTable"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="jobcomments">
                            <form class="form-auth-small" method="post" id="frmJobComments">
                                <input type="hidden" id="JobCommentId" />
                                <div class="row clearfix form-group">
                                    <div class="col-md-2 col-sm-12">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <textarea id="JobComment" name="JobComment" class="form-control" placeholder="Comments here..."></textarea>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <input type="submit" id="jobCommentSave" class="btn btn-primary" style="color: white !important;background: #138496 !important;" value="Save">
                                        <button onclick="FrmJobCommentsReset()" type="button" class="btn btn-outline-secondary">Reset</button>
                                    </div>
                                </div>
                            </form>
                            <h5>Job Comments</h5>
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobCommentsTable">
                                    <table class="table table-striped table-bordered table-hover" id="JobCommentsTable"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="jobdocuments">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobBidsTables">
                                    <table class="table table-striped table-bordered table-hover" id="JobBidsTables"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}
@section Scripts {
    <script>

        //$(function() {
        //    function addScore(score, $domElement) {
        //        $("<span class='stars-container'>")
        //          .addClass("stars-" + score.toString())
        //          .text("★★★★★")
        //          .appendTo($domElement);
        //    }

        //    addScore(50, $("#ratings"));
        //});

        $(function() {
            function addScore(score, $domElement) {
                var starWidth = "<style>.stars-container:after { } </style>";
                $("<span class='stars-container'>")
                  .text("★★★★★")
                  .append($(starWidth))
                  .appendTo($domElement);
            }
            addScore(1.5*20, $("#ShipperRatings"));
        });

     $(function() {
            function addScore(score, $domElement) {
                var starWidth = "<style>.stars-container:after { } </style>";
                $("<span class='stars-container'>")
                  .text("★★★★★")
                  .append($(starWidth))
                  .appendTo($domElement);
            }
            addScore(1.5*20, $("#CarrierRatings"));
        });

    jQuery(document).ready(function () {
        TableDatatablesJobActivity.init();
        TableDatatablesJobBids.init();
        TableDatatablesJobBidss.init();
        TableDatatablesJobBillOfLoading.init();
        TableDatatablesJobDriverComments.init();
        TableDatatablesJobComments.init();
        FormJobCommentsValidation.init();
    });

    function openLocation() {
        window.location.href = '@Url.Action(Actions.Index, Controllers.Jobs, new { Area = "" })';
    }

    var TableDatatablesJobBillOfLoading = function () {

        var initJobBidsTable = function () {

            var table = $('#BillofloadingTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindBillOfLoading, Controllers.Jobs, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                    {"title": "Bill Of Loading", "data": "BillOfLoading", "orderable": false, "width": "5%"},
                    {
                        "title": "View","class":"actionIcon",
                        "data": null,
                        "render": function (data, type, row) {
                            var appendstring = '';
                            appendstring += '<a target="_blank" href="' + row["FileUrlStr"] + '" style="color: #007BFE;">View</a>';
                            return appendstring;
                        }, "width": "3%", "orderable": false,"class": "action-icons"
                    },
                ],
    // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                    {
                        //text: 'Delete Selected Documents',
                        //className: 'addDelete',
                        //action: function (e, dt, node, config) {
                        //    //dt.ajax.reload();
                        //    ConfirmMessage();
                        //}
                    }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
        responsive: true,

        "lengthMenu": [
            [5, 10, 15, 20,1000],
            [5, 10, 15, 20,1000] // change per page values here
        ],
        // set the initial value

        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
        // So when dropdowns used the scrollable div should be removed.
        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#BillofloadingTable")) {
                $('#BillofloadingTable').dataTable().fnDestroy();
                $('#divBillofloadingTable').html('<table class="table table-striped" width="100%" id="BillofloadingTable"></table>');
            }
            initJobBidsTable();
        }
    };

    }();

        var TableDatatablesJobActivity = function () {

            var initJobActivityTable = function () {

                var table = $('#JobActivityTable');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.BindJobActivityData, Controllers.Jobs, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria2()
                    },
                    "columns": [
                        {"title": "Date", "data": "CreatedDateStr", "orderable": false, "width": "5%"},
                        {"title": "Previous Status", "data": "PreviousJobStatus", "orderable": false, "width": "5%"},
                        {"title": "Current Status", "data": "CurrentJobStatus", "orderable": false, "width": "5%"},
                        {"title": "Note", "data": "Note", "orderable": false, "width": "5%"},
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                            {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#JobActivityTable")) {
                        $('#JobActivityTable').dataTable().fnDestroy();
                        $('#divJobActivityTable').html('<table class="table table-striped" width="100%" id="JobActivityTable"></table>');
                    }
                    initJobActivityTable();
                }
            };

        }();
    var TableDatatablesJobBids = function () {

        var initJobBidsTable = function () {

            var table = $('#JobBidsTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindJobBidsData, Controllers.Jobs, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                     {
                        "title": "Carrier Details", "mData": function (data, type, dataToSet) {
                          return '<img class="rounded-circle width35" src="'+ data.CarrierFileURLStr +'" alt="Carrier-Profile-Image" height="35px">' + "<br/><br/><span class='list-name'><b><i class='icon-user'></i>&nbsp;&nbsp;" + data.CarrierName + "</b></span><br/><span><i class='icon-envelope-open'></i>&nbsp;&nbsp;<a href='mailto:"+data.CarrierEmail+"'>"+ data.CarrierEmail + "</a></span><br/><span><i class='icon-call-out'></i>&nbsp;&nbsp;<a href='tel:"+data.CarrierPhoneNumber +"'>"+ data.CarrierPhoneNumber + "</a></span></span>";
                      }, "orderable": false, "width": "5%"
                    },
                    {"title": "Company Name", "data": "CompanyName", "orderable": false, "width": "5%"},
                    {"title": "Bidded Amount", "data": "Price", "orderable": false, "width": "5%"},
                    { "title": "Job Completion Days", "data": "JobCompletionDays", "orderable": false, "width": "5%" },
                    {
                        "title": "Status", "data": "",
                        "render": function (data, type, row) {
                            if (row["JobBidStatus"] == 16) {
                                return '<button class="badge badge-info"  style="cursor:pointer;">Un-decided</button>';
                            }
                            else if (row["JobBidStatus"] == 14) {
                                return '<button class="badge badge-info"  style="cursor:pointer;">Won</button>';
                            }
                            else if (row["JobBidStatus"] == 15) {
                                return '<button class="badge badge-info"  style="cursor:pointer;">Declined</button>';
                            }
                            else if (row["JobBidStatus"] == 17) {
                                return '<button class="badge badge-info"  style="cursor:pointer;">Lost</button>';
                            } else {
                                return '-';
                            }
                            
                        },
                        "orderable": false, "width": "1%"
                    },
                    {"title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%"},
                ],
    // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                    {
                        //text: 'Delete Selected Documents',
                        //className: 'addDelete',
                        //action: function (e, dt, node, config) {
                        //    //dt.ajax.reload();
                        //    ConfirmMessage();
                        //}
                    }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
        responsive: true,

        "lengthMenu": [
            [5, 10, 15, 20,1000],
            [5, 10, 15, 20,1000] // change per page values here
        ],
        // set the initial value

        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
        // So when dropdowns used the scrollable div should be removed.
        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#JobBidsTable")) {
                $('#JobBidsTable').dataTable().fnDestroy();
                $('#divJobBidsTable').html('<table class="table table-striped" width="100%" id="JobBidsTable"></table>');
            }
            initJobBidsTable();
        }
    };

    }();

    var TableDatatablesJobBidss = function () {

        var initJobBidsTable = function () {

            var table = $('#JobBidsTables');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindJobDocumentsData, Controllers.Jobs, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                    { "title": "User Type", "data": "", 
                            "render": function (data, type, row) {
                                if (row["UserType"] == 2) {
                                    return "<p>Carrier</p>";
                                }else if (row["UserType"] == 3) {
                                    return "<p>Shipper</p>";
                                } else if (row["UserType"] == 4) {
                                    return "<p>Driver</p>";
                                } else {
                                    return "<p>-</p>";
                                }
                            }
                            , "orderable": false, "width": "5%"},
                    {
                        "title": "View","class":"actionIcon",
                        "data": null,
                        "render": function (data, type, row) {
                            var appendstring = '';
                            appendstring += '<a target="_blank" href="' + row["UrlStr"] + '" style="color: #007BFE;">View</a>';
                            return appendstring;
                        }, "width": "3%", "orderable": false,"class": "action-icons"
                    },
                    { "title": "Uploaded Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" },
                    {"title": "Updated Date", "data": "UpdatedDateStr", "orderable": false, "width": "5%"},
                ],
    // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                    {
                        //text: 'Delete Selected Documents',
                        //className: 'addDelete',
                        //action: function (e, dt, node, config) {
                        //    //dt.ajax.reload();
                        //    ConfirmMessage();
                        //}
                    }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
        responsive: true,

        "lengthMenu": [
            [5, 10, 15, 20,1000],
            [5, 10, 15, 20,1000] // change per page values here
        ],
        // set the initial value

        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
        // So when dropdowns used the scrollable div should be removed.
        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#JobBidsTables")) {
                $('#JobBidsTables').dataTable().fnDestroy();
                $('#divJobBidsTables').html('<table class="table table-striped" width="100%" id="JobBidsTables"></table>');
            }
            initJobBidsTable();
        }
    };

    }();

        var TableDatatablesJobDriverComments = function () {

            var initJobDriverCommentsTable = function () {

                var table = $('#JobDriverCommentsTable');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.BindJobDriverCommentsData, Controllers.Jobs, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria2()
                    },
                    "columns": [
                        { "title": "User Type", "data": "", 
                            "render": function (data, type, row) {
                                if (row["UserType"] == 2) {
                                    return "<p>Carrier</p>";
                                } else if (row["UserType"] == 4) {
                                    return "<p>Driver</p>";
                                } else {
                                    return "<p>-</p>";
                                }
                            }
                            , "orderable": false, "width": "5%"},
                        {"title": "Comment", "data": "Comment", "orderable": false, "width": "5%"},
                        {"title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%"},
                        {"title": "Updated Date", "data": "UpdatedDateStr", "orderable": false, "width": "5%"},
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                            {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#JobDriverCommentsTable")) {
                        $('#JobDriverCommentsTable').dataTable().fnDestroy();
                        $('#divJobDriverCommentsTable').html('<table class="table table-striped" width="100%" id="JobDriverCommentsTable"></table>');
                    }
                    initJobDriverCommentsTable();
                }
            };

        }();

        var TableDatatablesJobComments = function () {

            var initJobCommentsTable = function () {

                var table = $('#JobCommentsTable');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.BindJobCommentsData, Controllers.Jobs, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria2()
                    },
                    "columns": [
                        {"title": "Comments", "data": "Comment", "orderable": false, "width": "5%"},
                        {"title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%"},
                        {"title": "Updated Date", "data": "UpdatedDateStr", "orderable": false, "width": "5%"},
                        {
                            "title": "Actions","class":"actionIcon",
                            "data": null,
                            "render": function (data, type, row) {
                                var appendstring = '';                            
                                appendstring += '<a href="javascript:GetJobCommentById(' + row["Id"] + ')" class="btn btn-sm btn-outline-secondary" title="Edit Comment"><i class="fa fa-edit"></i></a>';                            
                                appendstring += '<a href="javascript:ConfirmMessage(' + row["Id"] + ')"  class="btn btn-sm btn-outline-secondary" title="Delete Comment"><i class="fa fa-trash"></i></a>';

                                return appendstring;
                            },
                            "width": "3%",
                            "orderable": false,
                            "class": "action-icons"
                        }
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                            {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#JobCommentsTable")) {
                        $('#JobCommentsTable').dataTable().fnDestroy();
                        $('#divJobCommentsTable').html('<table class="table table-striped" width="100%" id="JobCommentsTable"></table>');
                    }
                    initJobCommentsTable();
                }
            };

        }();

     function BuildSearchCriteria2() {
    try {
        var param = {};
        param["JobId"] = @Model.Id;
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }

    function addRequestVerificationToken2(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
    }
    var FormJobCommentsValidation = function () {
        // basic validation
        var handleValidation = function () {

            var form1 = $('#frmJobComments');
            var error1 = $('.alert-danger', form1);

            jQuery.validator.addMethod("lettersonly", function(value, element)
            {
                return this.optional(element) || /^[a-z ]+$/i.test(value);
            }, "Text Field Only");

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    JobComment: {
                        required: true
                    },
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    //success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var cont = $(element).parent('.input-group');
                    if (cont.size() > 0) {
                        cont.after(error);
                    } else {
                        element.after(error);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    AditJobComment();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation();
            }
        };
    }();
        
    function FrmJobCommentsReset()
    {
        $("#JobCommentId").val(0);
        $("#JobComment").val('');
    }

    function AditJobComment() {    
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.AddEditJobComment,Controllers.Jobs)',
            data: ({Id: $("#JobCommentId").val(),Comment: $("#JobComment").val(), JobId : '@Model.Id'}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {              
                    swal("Great!", "Comments Saved !", "success");
                    FrmJobCommentsReset();
                    var millisecondsToWait = 500;
                    setTimeout(function () {
                        TableDatatablesJobComments.init();                    
                    }, millisecondsToWait);
                }
                else {
                    swal("Error !", response.Message, "error");            
                }
            },
            error: function (error) {            
            }
        });
    }

    function GetJobCommentById(JobCommentId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetJobCommentById,Controllers.Jobs)',
            data: ({JobCommentId: JobCommentId}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200 && response.Item != null) {
                    $("#JobCommentId").val(response.Item.Id);
                    $("#JobComment").val(response.Item.Comment);
                }
                else {
                    swal("Error !", "An error occured. Try Again", "error");
                }
            },
            error: function (error) {
                swal("Error !", "An error occured. Try Again", "error");
            }
        });
    }
    function ConfirmMessage(JobCommentId) {
        swal({
            title: "Are you sure ?",
            text: "You will be deleting the selected comment !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            DeleteJobComment(JobCommentId);
        });
    }

    function DeleteJobComment(JobCommentId) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action(Actions.DeleteJobComment,Controllers.Jobs)",
            async: false,
            data: ({ JobCommentId: JobCommentId}),
            dataType: 'json',
            success: function (response) {
                if (response == "200") {
                    swal("Great!", "Selected Comment Deleted", "success");
                    TableDatatablesJobComments.init();
                } else {
                    swal("Oops!", response.Message, "error");
                    CloseUpsert();
                }
            },
            error: function (response) {
                swal("Opps!", "An error occured ! Please try again.", "error");
            }
        });
    }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>    
}
