﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()

@model Job
@{
    ViewBag.Title = "Manage Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #7C1010;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .activ {
        background: linear-gradient(to right, #7C1010, #ffa950);
        color: white;
    }

    .rounded {
        border-radius: 1.25rem !important;
    }
</style>
<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Manage Jobs</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item active" id="breadcrum">Manage Jobs</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
        <div class="card text-center bg-white activ" id="newjobLbl" onclick="setActive(&#39;newjob&#39;);">
            <div class="">
                <div class="p-15">
                    <h3>@ProjectSession.NewJobs</h3>
                    <span>New Job(s)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
        <div class="card text-center bg-white" id="ongoingjobLbl" onclick="setActive(&#39;ongoingjob&#39;);">
            <div class="">
                <div class="p-15">
                    <h3>@ProjectSession.OngoingJobs</h3>
                    <span>Ongoing Job(s)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
        <div class="card text-center bg-white" id="completedjobLbl" onclick="setActive(&#39;completedjob&#39;);">
            <div class="">
                <div class="p-15">
                    <h3>@ProjectSession.CompletedJobs</h3>
                    <span>Completed Job(s)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
        <div class="card text-center bg-white" id="cancelledjobLbl" onclick="setActive(&#39;cancelledjob&#39;);">
            <div class="">
                <div class="p-15">
                    <h3>@ProjectSession.CancelledJobs</h3>
                    <span>Cancelled Job(s)</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12" id="ongoingjob" style="">
        <div class="card">
            <div class="header">
                <h4>Ongoing Job(s)</h4>
            </div>
            <div class="body">
                <div class="portlet-body table-responsive" id="divOngoingJobsTable">
                    <table class="table table-striped table-bordered table-hover" id="OngoingJobsTable"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12" id="newjob" style="display: none;">
        <div class="card">
            <div class="header" style="text-align:center !important;">
                <h4>New Job(s)</h4>
                @*<a href="#">
                        <button class="btn btn-success float-right">Post New Job</button>
                    </a>*@
            </div>
            <div class="body">
                <div class="portlet-body table-responsive" id="divNewJobsTable">
                    <table class="table table-striped table-bordered table-hover" id="NewJobsTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" id="completedjob" style="display: none;">
        <div class="card">
            <div class="header">
                <h4>Completed Job(s)</h4>
            </div>
            <div class="body">
                <div class="portlet-body table-responsive" id="divCompletedJobsTable">
                    <table class="table table-striped table-bordered table-hover" id="CompletedJobsTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" id="cancelledjob" style="display: none;">
        <div class="card">
            <div class="header">
                <h4>Cancelled Job(s)</h4>
            </div>
            <div class="body">
                <div class="portlet-body table-responsive" id="divCancelledJobsTable">
                    <table class="table table-striped table-bordered table-hover" id="CancelledJobsTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}


@section Scripts {
    <script>
    jQuery(document).ready(function () {
        setActive("newjob");
        TableDatatablesOngoingJobs.init();
        TableDatatablesNewJobs.init();
        TableDatatablesCompletedJobs.init();
        TableDatatablesCancelledJobs.init();

    });
    function setActive(id){
        //debugger;
        $("#newjobLbl").removeClass("activ");
        $("#ongoingjobLbl").removeClass("activ");
        $("#completedjobLbl").removeClass("activ");
        $("#cancelledjobLbl").removeClass("activ");
        $("#newjob").hide();
        $("#ongoingjob").hide();
        $("#completedjob").hide();
        $("#cancelledjob").hide();
        $("#"+id+"Lbl").addClass("activ");
        $("#"+id).show();
    }
    var TableDatatablesOngoingJobs = function () {

        var initOngoingJobsTable = function () {

            var table = $('#OngoingJobsTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindOngoingJobsData, Controllers.Jobs, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                    { "title": "Job No", "data": "JobNo", "orderable": false, "width": "5%" },
                    {
                        "title": "Shipper", "mData": function (data, type, dataToSet) {
                            return '<img class="rounded-circle width35" src="' + data.ShipperProfilePhotoStr + '" alt="Shipper-Profile-Image" height="35px">' + "<br><span class='list-name'>" + 2.5 + "<br/>" + data.ShipperEmail + "<br/>" + data.ShipperCountryCode + " " + data.ShipperPhone + "<br/><span class='rating' data-score='" + data.ShipperAvgRating + "'></span></span>";
                        }, "orderable": false, "width": "5%"
                    },
                    {
                        "title": "Assigned Carrier", "mData": function (data, type, dataToSet) {
                            return '<img class="rounded-circle width35" src="' + data.CarrierProfilePhotoStr + '" alt="Carrier-Profile-Image" height="35px">' + "<br><span class='list-name'>" + 3.75 + "<br/>" + data.CarrierEmail + "<br/>" + data.CarrierCountryCode + " " + data.CarrierPhone + "<br/><span class='rating' data-score='" + data.CarrierAvgRating + "'></span></span>";
                        }, "orderable": false, "width": "5%"
                    },
                    {
                        "title": "Assigned Driver", "mData": function (data, type, dataToSet) {
                            if (data.DriverName == null || data.DriverName == '') {
                                return  "-";
                            }else {
                                      return '<img class="rounded-circle width35" src="'+ data.DriverProfilePhotoStr +'" alt="Driver-Profile-Image" height="35px">' + "<br><span class='list-name'>" + data.DriverName + "<br/>"+ data.DriverEmail + "<br/>"+ data.DriverCountryCode + " " + data.DriverPhone +"</span>";
                            }
                    
                      }, "orderable": false, "width": "5%"
                  },
                  { "title": "Assigned Truck", "data": "TruckPlate", "orderable": false, "width": "5%" },

                { "title": "Truck Type", "data": "TruckType", "orderable": false, "width": "5%" },
                { "title": "Truck Service", "data": "TruckService", "orderable": false, "width": "5%" },
                {
                    "title": "Pickup Address","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["PickUpAddressLatitude"] + ',' + row["PickUpAddressLongitude"] + '" style="color: #007BFE;">'+ row["PickUpAddress"]+'</a>';
                        return appendstring;
                    }, "width": "3%", "orderable": false,"class": "action-icons"
                },
                {
                    "title": "Dropoff Address","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["DropOffAddressLatitude"] + ',' + row["DropOffAddressLongitude"] + '" style="color: #007BFE;">'+ row["DropOffAddress"]+'</a>';
                        return appendstring;
                    }, "width": "3%", "orderable": false,"class": "action-icons"
                },
                { "title": "Job Amount", "data": "Price", "orderable": false, "width": "5%" },
                { "title": "Carrier's Est. Delivery Date", "data": "CarrierEstDeliveryDateStr", "orderable": false, "width": "5%" },
                { "title": "Current Status",
                    "data": "",
                    "render": function (data, type, row) {
                            return '<button class="badge badge-success">'+row["JobStatus"]+'</button>';
                    },
                    "orderable": false, "width": "5%"
                },
                { "title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" },
                {
                    "title": "Actions","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        //appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Details" onClick = "shipperDetails(' + row["Id"] + ')"><i class="fa fa-eye"></i></button>';
                        appendstring += '<a  href="@Url.Action(Actions.OngoingJobDetails,Controllers.Jobs)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>';
                        appendstring += '<a  href="@Url.Action(Actions.Index,Controllers.RouteMaster)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Route"><i class="fa fa-truck"></i></a>';
                        appendstring += '<a target="_blank" href="@Url.Action("TruckLocation",Controllers.Jobs)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Route"><i class="fa fa-location-arrow"></i></a>';
                        appendstring += '<a href="@Url.Action("Index",Controllers.PaymentMaster)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Payment"><i class="fa fa-money"></i></a>';
                        @*appendstring += '<a  href="@Url.Action(Actions.AddEditShipper,Controllers.Shippers)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Edit Shipper"><i class="fa fa-edit"></i></a>';
                        appendstring += '<button  type="button" class="btn btn-sm btn-outline-secondary" title="View Jobs"><i class="fa fa-handshake-o"> </i></button>';
                        appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Ratings"><i class="fa fa-star-o"> </i></button>';*@

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }

                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                "buttons": [
                        //{
                            //text: 'Delete Selected Shippers',
                            //className: 'addDelete',
                            //action: function (e, dt, node, config) {
                            //    //dt.ajax.reload();
                            //    ConfirmMessage();
                            //}
                        //}
                ],
                columnDefs: [
                                    { targets: 1 },
                                    { targets: 2 },
                ],
                createdRow: function(row, data, dataIndex){
                    // Initialize custom control
                    initRating(row);
                },
                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20,1000],
                    [5, 10, 15, 20,1000] // change per page values here
                ],
                // set the initial value

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#OngoingJobsTable")) {
                    $('#OngoingJobsTable').dataTable().fnDestroy();
                    $('#divOngoingJobsTable').html('<table class="table table-striped" width="100%" id="OngoingJobsTable"></table>');
                }
                initOngoingJobsTable();
            }
        };

    }();

    var TableDatatablesNewJobs = function () {

        var initNewJobsTable = function () {

            var table = $('#NewJobsTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindNewJobsData, Controllers.Jobs, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                    {
                        "title": "Job Details", "mData": function (data, type, dataToSet) {
                            return "<span><b><i class='icon-paper-plane'></i>&nbsp;&nbsp;" + data.JobNo + "</b></span><br/><span><i class='icon-support'></i>&nbsp;&nbsp;" + data.TruckType + " / "+data.TruckService+"</span>";
                        }, "orderable": false, "width": "5%"
                    },
                  {
                      "title": "Shipper Details", "mData": function (data, type, dataToSet) {
                          return '<img class="rounded-circle width35" src="'+ data.ShipperProfilePhotoStr +'" alt="Shipper-Profile-Image" height="35px">' + "<br/><br/><span class='list-name'><b><i class='icon-user'></i>&nbsp;&nbsp;" + data.ShipperName + "</b></span><br/><span><i class='icon-envelope-open'></i>&nbsp;&nbsp;<a href='mailto:"+data.ShipperEmail+"'>"+ data.ShipperEmail + "</a></span><br/><span><i class='icon-call-out'></i>&nbsp;&nbsp;<a href='tel:"+data.ShipperCountryCode + " " + data.ShipperPhone+"'>"+ data.ShipperCountryCode + " " + data.ShipperPhone + "</a></span><br/><span class='rating' data-score='" + data.ShipperAvgRating + "'></span></span>";
                      }, "orderable": false, "width": "5%"
                  },
                  {
                     "title": "Addresses","class":"actionIcon",
                     "data": null,
                     "render": function (data, type, row) {
                         var appendstring = '<span><b><i class="icon-pointer"></i>&nbsp;&nbsp;Pick Up : </b></span><br/>';
                         appendstring += '<a target="_blank" href="https://www.google.com/maps/search/?api=1&query='+ row["PickUpAddressLatitude"] + ',' + row["PickUpAddressLongitude"] +  '" style="color: #007BFE;">'+ row["PickUpAddress"]+'</a><br/><br/>';
                         appendstring += '<span><b><i class="icon-pointer"></i>&nbsp;&nbsp;Drop Off : </b></span><br/>';
                         appendstring += '<span><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["DropOffAddressLatitude"] + ',' + row["DropOffAddressLongitude"] + '" style="color: #007BFE;">' + row["DropOffAddress"] + '</a></span>';
                         return appendstring;
                     }, "width": "5%", "orderable": false,"class": "action-icons"
                  },
                    {
                        "title": "Bid Summary (Lowest/Highest)", "data":"", "render": function(data, type, row) {
                            return "<span title='Total Bids'><b><i class='icon-book-open'></i>&nbsp&nbsp;Total Bids : "+row["TotalBids"]+"</b></span><br/><span><i class='icon-graph'></i>&nbsp;&nbsp;<b>Range</b> : $"+row["LowestBid"]+" / $"+row["HighestBid"]+"</span>";
                        }
                        , "orderable": false, "width": "5%" },
                { "title": "Job Status",
                    "data": "",
                    "render": function (data, type, row) {
                        return '<button class="badge badge-success">'+row["JobStatus"]+'</button>';
                    },
                    "orderable": false, "width": "5%"
                },
                { "title": "Posted Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" },
                {
                    "title": "Actions","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        //appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Details" onClick = "shipperDetails(' + row["Id"] + ')"><i class="fa fa-eye"></i></button>';
                        appendstring += '<a  href="@Url.Action(Actions.NewJobDetails,Controllers.Jobs)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>';
                        appendstring += '<a  href="@Url.Action(Actions.Index,Controllers.RouteMaster)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Route"><i class="fa fa-truck"></i></a>';
                        appendstring += '<a target="_blank" href="@Url.Action("TruckLocation",Controllers.Jobs)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Route"><i class="fa fa-location-arrow"></i></a>';
                        appendstring += '<a href="@Url.Action("Index",Controllers.PaymentMaster)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Payment"><i class="fa fa-money"></i></a>';
                        @*appendstring += '<a  href="@Url.Action(Actions.AddEditShipper,Controllers.Shippers)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Edit Shipper"><i class="fa fa-edit"></i></a>';
                        appendstring += '<button  type="button" class="btn btn-sm btn-outline-secondary" title="View Jobs"><i class="fa fa-handshake-o"> </i></button>';
                        appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Ratings"><i class="fa fa-star-o"> </i></button>';*@

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                "buttons": [
                        //{
                            //text: 'Delete Selected Documents',
                            //className: 'addDelete',
                            //action: function (e, dt, node, config) {
                            //    //dt.ajax.reload();
                            //    ConfirmMessage();
                            //}
                        //}
                ],
                columnDefs: [
                                    { targets: 1 }                                   
                ],
                createdRow: function(row, data, dataIndex){
                    // Initialize custom control
                    initRating(row);
                },
                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20,1000],
                    [5, 10, 15, 20,1000] // change per page values here
                ],
                // set the initial value

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#NewJobsTable")) {
                    $('#NewJobsTable').dataTable().fnDestroy();
                    $('#divNewJobsTable').html('<table class="table table-striped" width="100%" id="NewJobsTable"></table>');
                }
                initNewJobsTable();
            }
        };

    }();

    var TableDatatablesCompletedJobs = function () {

        var initCompletedJobsTable = function () {

            var table = $('#CompletedJobsTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindCompletedJobsData, Controllers.Jobs, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                    { "title": "Job No", "data": "JobNo", "orderable": false, "width": "5%" },
                 {
                     "title": "Shipper", "mData": function (data, type, dataToSet) {
                         return '<img class="rounded-circle width35" src="'+ data.ShipperProfilePhotoStr +'"  alt="Shipper-Profile-Image" height="35px">' + "<br><span class='list-name'>" + data.ShipperName + "<br/>"+ data.ShipperEmail + "<br/>"+ data.ShipperCountryCode + " " + data.ShipperPhone + "<br/><span class='rating' data-score='" + data.ShipperAvgRating + "'></span></span>";
                     }, "orderable": false, "width": "5%"
                 },
                 {
                     "title": "Assigned Carrier", "mData": function (data, type, dataToSet) {
                         return '<img class="rounded-circle width35" src="'+ data.CarrierProfilePhotoStr +'"  alt="Carrier-Profile-Image" height="35px">' + "<br><span class='list-name'>" + data.CarrierName + "<br/>"+ data.CarrierEmail + "<br/>"+ data.CarrierCountryCode + " " + data.CarrierPhone + "<br/><span class='rating' data-score='" + data.CarrierAvgRating + "'></span></span>";
                     }, "orderable": false, "width": "5%"
                 },
                  {
                      "title": "Assigned Driver", "mData": function (data, type, dataToSet) {
                          if (data.DriverName == null || data.DriverName == '') {
                              return "-";
                          } else {
                              return '<img class="rounded-circle width35" src="'+ data.DriverProfilePhotoStr +'"  alt="Driver-Profile-Image" height="35px">' + "<br><span class='list-name'>" + data.DriverName + "<br/>"+ data.DriverEmail + "<br/>"+ data.DriverCountryCode + " " + data.DriverPhone +"</span>";
                          }
                      }, "orderable": false, "width": "5%"
                  },
                  { "title": "Assigned Truck", "data": "TruckPlate", "orderable": false, "width": "5%" },

                { "title": "Truck Type", "data": "TruckType", "orderable": false, "width": "5%" },
                { "title": "Truck Service", "data": "TruckService", "orderable": false, "width": "5%" },
                {
                    "title": "Pickup Address","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["PickUpAddressLatitude"] + ',' + row["PickUpAddressLongitude"] + '" style="color: #007BFE;">'+ row["PickUpAddress"]+'</a>';
                        return appendstring;
                    }, "width": "3%", "orderable": false,"class": "action-icons"
                },
                {
                    "title": "Dropoff Address","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["DropOffAddressLatitude"] + ',' + row["DropOffAddressLongitude"] + '" style="color: #007BFE;">'+ row["DropOffAddress"]+'</a>';
                        return appendstring;
                    }, "width": "3%", "orderable": false,"class": "action-icons"
                },
                { "title": "Job Amount", "data": "Price", "orderable": false, "width": "5%" },
                { "title": "Carrier's Est. Delivery Date", "data": "CarrierEstDeliveryDateStr", "orderable": false, "width": "5%" },
                { "title": "Current Status",
                    "data": "",
                    "render": function (data, type, row) {
                        return '<button class="badge badge-success">'+row["JobStatus"]+'</button>';
                    },
                    "orderable": false, "width": "5%"
                },
                { "title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" },
                {
                    "title": "Actions","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        //appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Details" onClick = "shipperDetails(' + row["Id"] + ')"><i class="fa fa-eye"></i></button>';
                        appendstring += '<a  href="@Url.Action(Actions.CompletedJobDetails,Controllers.Jobs)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>';
                        appendstring += '<a  href="@Url.Action(Actions.Index,Controllers.RouteMaster)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Route"><i class="fa fa-truck"></i></a>';
                        appendstring += '<a target="_blank" href="@Url.Action("TruckLocation",Controllers.Jobs)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Route"><i class="fa fa-location-arrow"></i></a>';
                        appendstring += '<a href="@Url.Action("Index",Controllers.PaymentMaster)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Payment"><i class="fa fa-money"></i></a>';
                        @*appendstring += '<a  href="@Url.Action(Actions.AddEditShipper,Controllers.Shippers)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Edit Shipper"><i class="fa fa-edit"></i></a>';
                        appendstring += '<button  type="button" class="btn btn-sm btn-outline-secondary" title="View Jobs"><i class="fa fa-handshake-o"> </i></button>';
                        appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Ratings"><i class="fa fa-star-o"> </i></button>';*@

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                "buttons": [
                        //{
                            //text: 'Delete Selected Documents',
                            //className: 'addDelete',
                            //action: function (e, dt, node, config) {
                            //    //dt.ajax.reload();
                            //    ConfirmMessage();
                            //}
                        //}
                ],
                columnDefs: [
                                    { targets: 1 },
                                    { targets: 2 },
                ],
                createdRow: function(row, data, dataIndex){
                    // Initialize custom control
                    initRating(row);
                },
                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20,1000],
                    [5, 10, 15, 20,1000] // change per page values here
                ],
                // set the initial value

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#CompletedJobsTable")) {
                    $('#CompletedJobsTable').dataTable().fnDestroy();
                    $('#divCompletedJobsTable').html('<table class="table table-striped" width="100%" id="CompletedJobsTable"></table>');
                }
                initCompletedJobsTable();
            }
        };

    }();

        var TableDatatablesCancelledJobs = function () {

            var initCancelledJobsTable = function () {

                var table = $('#CancelledJobsTable');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.BindCancelledJobsData, Controllers.Jobs, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria2()
                    },
                    "columns": [
                        { "title": "Job No", "data": "JobNo", "orderable": false, "width": "5%" },
                 {
                     "title": "Shipper", "mData": function (data, type, dataToSet) {
                         return '<img class="rounded-circle width35" src="'+ data.ShipperProfilePhotoStr +'" alt="Shipper-Profile-Image" height="35px">' + "<br><span class='list-name'>" + data.ShipperName + "<br/>"+ data.ShipperEmail + "<br/>"+ data.ShipperCountryCode + " " + data.ShipperPhone + "<br/><span class='rating' data-score='" + data.ShipperAvgRating + "'></span></span>";
                     }, "orderable": false, "width": "5%"
                 },
                 {
                     "title": "Assigned Carrier", "mData": function (data, type, dataToSet) {
                         return '<img class="rounded-circle width35" src="'+ data.CarrierProfilePhotoStr +'" alt="Carrier-Profile-Image" height="35px">' + "<br><span class='list-name'>" + data.CarrierName + "<br/>"+ data.CarrierEmail + "<br/>"+ data.CarrierCountryCode + " " + data.CarrierPhone + "<br/><span class='rating' data-score='" + data.CarrierAvgRating + "'></span></span>";
                     }, "orderable": false, "width": "5%"
                 },
                  {
                      "title": "Assigned Driver", "mData": function (data, type, dataToSet) {
                          return '<img class="rounded-circle width35" src="'+ data.DriverProfilePhotoStr +'" alt="Driver-Profile-Image" height="35px">' + "<br><span class='list-name'>" + data.DriverName + "<br/>"+ data.DriverEmail + "<br/>"+ data.DriverCountryCode + " " + data.DriverPhone +"</span>";
                      }, "orderable": false, "width": "5%"
                  },
                  { "title": "Assigned Truck", "data": "TruckPlate", "orderable": false, "width": "5%" },

                { "title": "Truck Type", "data": "TruckType", "orderable": false, "width": "5%" },
                { "title": "Truck Service", "data": "TruckService", "orderable": false, "width": "5%" },
                {
                    "title": "Pickup Address","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["PickupShipperAddressLattitude"] + ',' + row["PickupShipperAddressLongitude"] + '" style="color: #007BFE;">'+ row["PickUpAddress"]+'</a>';
                        return appendstring;
                    }, "width": "3%", "orderable": false,"class": "action-icons"
                },
                {
                    "title": "Dropoff Address","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["DropoffShipperAddressLattitude"] + ',' + row["DropoffShipperAddressLongitude"] + '" style="color: #007BFE;">'+ row["DropOffAddress"]+'</a>';
                        return appendstring;
                    }, "width": "3%", "orderable": false,"class": "action-icons"
                },
                { "title": "Job Amount", "data": "JobAmount", "orderable": false, "width": "5%" },
                { "title": "Carrier's Est. Delivery Date", "data": "CarrierEstDeliveryDateStr", "orderable": false, "width": "5%" },
                { "title": "Current Status",
                    "data": "",
                    "render": function (data, type, row) {
                        return '<button class="badge badge-success">'+row["JobStatus"]+'</button>';
                    },
                    "orderable": false, "width": "5%"
                },
                { "title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" },
                {
                    "title": "Actions","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        //appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Details" onClick = "shipperDetails(' + row["Id"] + ')"><i class="fa fa-eye"></i></button>';
                        appendstring += '<a  href="@Url.Action(Actions.CompletedJobDetails,Controllers.Jobs)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>';
                        appendstring += '<a  href="@Url.Action(Actions.Index,Controllers.RouteMaster)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Route"><i class="fa fa-truck"></i></a>';
                        appendstring += '<a target="_blank" href="@Url.Action("TruckLocation",Controllers.Jobs)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Route"><i class="fa fa-location-arrow"></i></a>';
                        appendstring += '<a href="@Url.Action("Index",Controllers.PaymentMaster)?JobId=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Manage Payment"><i class="fa fa-money"></i></a>';
                        @*appendstring += '<a  href="@Url.Action(Actions.AddEditShipper,Controllers.Shippers)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="Edit Shipper"><i class="fa fa-edit"></i></a>';
                        appendstring += '<button  type="button" class="btn btn-sm btn-outline-secondary" title="View Jobs"><i class="fa fa-handshake-o"> </i></button>';
                        appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" title="View Ratings"><i class="fa fa-star-o"> </i></button>';*@

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                           // {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            //}
                    ],
                    columnDefs: [
                                    { targets: 1 },
                                    { targets: 2 },
                    ],
                    createdRow: function(row, data, dataIndex){
                        // Initialize custom control
                        initRating(row);
                    },
                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#CancelledJobsTable")) {
                        $('#CancelledJobsTable').dataTable().fnDestroy();
                        $('#divCancelledJobsTable').html('<table class="table table-striped" width="100%" id="CancelledJobsTable"></table>');
                    }
                    initCancelledJobsTable();
                }
            };

        }();

    function BuildSearchCriteria2() {
        try {
            var param = {};
            return addRequestVerificationToken2(param);
        } catch (e) { }
    }

    function addRequestVerificationToken2(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }
    //
    // Initializes jQuery Raty control
    //
    function initRating(container) {
        $('span.rating', container).raty({
            half: true,
            starHalf: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/images/star-half.png',
            starOff: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/images/star-off.png',
            starOn: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/images/star-on.png',
            score: function(){
                return $(this).data('score');
            },
            click: function(score){
                $(this).data('score', score);
            }
        });
    }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
    <script src="~/Scripts/jquery.raty.min.js"></script>
}