﻿
@{
    ViewBag.Title = "Master Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .checkbox2 {
            width: 25px;
            height: 25px;
        }

        thead {
            background: #7C1010;
            color: white;
        }

        .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #e73d4a
        }

        .has-error .form-control {
            border-color: #e73d4a;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        }

            .has-error .form-control:focus {
                border-color: #d71b29;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
            }

        .has-error .input-group-addon {
            color: #e73d4a;
            border-color: #e73d4a;
            background-color: #fbe1e3
        }

        .addDelete {
            color: black !important;
            background: #e9e9e9 !important;
        }

        .hideDelete {
            display: none !important;
        }
        .pagination > li > a, .pagination > li > span {
            padding: 10px;
        }

        .pagination > .active > a, .pagination > .active > span {
            color: #fff;
        }
    </style>
@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@Html.AntiForgeryToken()

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Master Plans</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Master Plans</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="upsert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="smallModalLabel">Plans Details</h6>
            </div>

            <div class="modal-body">
                <form class="form-auth-small" method="post" id="frmClient">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        <div class="col-md-4 col-sm-12">
                            <label> Name </label>
                            <div class="form-group">
                                <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter Name*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label> Description</label>
                            <div class="form-group">
                                <input type="text" id="Description" name="Description" class="form-control" placeholder="Enter Description*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Amount</label>
                            <div class="form-group">
                                <input type="text" id="Amount" name="Amount" class="form-control" placeholder="Enter Amount *">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>No Of Months</label>
                            <div class="form-group">
                                <input type="text" id="NoOfMonths" name="NoOfMonths" class="form-control" placeholder="Enter Number Of Months *">
                            </div>
                        </div>
                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="Save" class="btn btn-primary saveBtn" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <button type="button" class="btn btn-secondary closeBtn" onclick="CloseUpsert();" id="Close">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>
        jQuery(document).ready(function () {
            $("#Id").val(@ViewBag.Id);
            TableDatatablesColreorder.init();
            FormClientValidation.init();
        });

        var FormClientValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmClient');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        Name: {
                            required: true,
                        },
                        Description: {
                            required: true,
                        },
                        Amount: {
                            required: true,
                        },
                        NoOfMonths: {
                            required: true,
                            number:true
                        },


                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Upsert();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();

    var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.MasterPlans, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [

                {
                    "title": "Name", "data": "",
                    "render": function (data, type, row) {
                        return "<p>" + row["Name"] + "</p>";
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Description", "data": "",
                    "render": function (data, type, row) {
                        return "<p>" + row["Description"] + "</p>";
                    },
                    "orderable": false, "width": "1%"
                },

                { "title": "Amount", "data": "Amount", "orderable": false, "width": "1%" },
                { "title": "Number Of Months", "data": "NoOfMonths", "orderable": false, "width": "1%" },

               {
                    "title": "Actions",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        //appendstring += '<a href="@Url.Action(Actions.CustomersDetails, Controllers.MasterPlans)?ri=' + btoa(row["Id"]) + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" title="Edit Plan"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=ConfirmMessage("' + btoa(row["Id"]) + '") title="Delete Customers"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "1%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Add New Plan',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        OpenAddNewItem();
                    }
                }

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [3, 5, 10, 15, 20,1000],
                [3, 5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

        function BuildSearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }



        function OpenAddNewItem(Id) {
            if (Id > 0) {
                $("#smallModalLabel").text("Edit Plan");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();

                $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.GetById, Controllers.MasterPlans)",
                      async: false,
                      data: ({Id: Id}),
                      dataType: 'json',
                    success: function (response) {
                        if (response != null && response.Code == 200 && response.Item != null) {
                            $("#Id").val(response.Item.Id);
                            $("#Name").val(response.Item.Name);
                            $("#Description").val(response.Item.Description);
                            $("#Amount").val(response.Item.Amount);
                            $("#NoOfMonths").val(response.Item.NoOfMonths);
                            $('#upsert').modal('show');
                        }
                      },
                    error: function (response) {
                          CloseUpsert();
                      }
                });

            } else {
                $("#smallModalLabel").text("Add New Plan");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();
                $('#upsert').modal('show');
            }
        }


         function Upsert() {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();
            $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.Upsert,Controllers.MasterPlans)",
                      async: false,
                      data: ({ Id: $("#Id").val(), Name: $("#Name").val(), Description: $("#Description").val(), Amount: $("#Amount").val(), NoOfMonths: $("#NoOfMonths").val() }),
                      dataType: 'json',
                      success: function (response) {
                          if (response.Code == 200) {
                              CloseUpsert();
                              swal("Great!", "Details Saved !", "success");
                              TableDatatablesColreorder.init();
                          } else {
                              swal("Oops!", response.Message, "error");
                              CloseUpsert();
                          }
                      },
                error: function (response) {
                    swal("Opps!", "An error occured ! Please try again.", "error");
                    CloseUpsert();
                      }
                });
        }
        // CommitteeType: $("#CommitteeType").val(),

        function CloseUpsert() {
            $("#Id").val(0);
            $("#Name").val('');
            $("#Description").val('');
            $("#Amount").val(0);
            $("#NoOfMonths").val(0);
            $(".saveBtn").show();
            $(".loading").hide();
            $(".closeBtn").show();
            $("#upsert").modal("hide");
        }



    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}