﻿@{
    ViewBag.Title = "Thank You";
     Layout = null;
}

<!doctype html>
<html lang="en">


<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-maintenance.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:23:51 GMT -->
<head>
    <title>Thank You</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Lucid Bootstrap 4x Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
</head>
<body class="theme-orange">

    <!-- Page Loader -->
    <!-- Overlay For Sidebars -->

    <div id="wrapper">

        <div class="vertical-align-wrap">
            <div class="vertical-align-middle maintenance">

                <div class="text-center">
                    <article>
                        <h1 style="color:white;">Thank You!</h1>
                        <div>
                            <h5 style="color:white;">You have been registered successfully. <br>The manager shall contact you soon.</h5>
                            
                        </div>
                    </article>
                    @*<div class="margin-top-30">
                            <a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-arrow-left"></i> <span>Go Back</span></a>
                            <a href="index.html" class="btn btn-info"><i class="fa fa-home"></i> <span>Home</span></a>
                        </div>*@
                </div>
            </div>
        </div>

    </div>

    <!-- Javascript -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script>

    <script src="~/assets/bundles/mainscripts.bundle.js"></script>
</body>

<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-maintenance.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:23:51 GMT -->
</html>
