﻿@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()


@{
    ViewBag.Title = "Sign In";
    Layout = null;
    string Username = string.Empty;
    string password = string.Empty;

    if (Request.Cookies["AdminUserLogin"] != null)
    {
        Username = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["Username"]);
        password = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["Password"]);
    }
}

<!doctype html>
<html lang="en">


<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
<head>
    <title>Sign In | Cleaning </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Lucid Bootstrap 4x Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">

    <link href="~/assets/vendor/css/main.css" rel="stylesheet" />


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">



    @*<link rel="stylesheet" href="~/assets/validation/css/components-md.min.css" />*@

    <script src="~/assets/validation/js/jquery.min.js"></script>
    <script src="~/assets/validation/js/bootstrap.min.js"></script>
    <script src="~/assets/validation/js/jquery.blockui.min.js"></script>

    @*<style>
        .login-images {
            position: relative;
            background: url(../assets/images/01.png) no-repeat center center !important;
            background-size: cover;
        }
        .auth-main:after
        {
            display:none;
        }
    </style>*@

</head>

<body class="theme-orange login-images">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">

                    </div>

                    <div class="card">
                        <div class="header" style="text-align:center !important;">
                            <h4><i>Cleaning App Admin</i></h4>
                            <p class="lead">Login to your account</p>
                        </div>
                        <div class="body">
                            <h5 style="text-align:center;color:red;" id="wrgMsg"></h5>
                            <h5 style="text-align:center;color:red;" id="inactMsg"></h5>
                            <form class="form-auth-small" method="post" action="" id="frmLogin">                               
                                <div class="form-group">
                                    <label for="signin-username" class="control-label sr-only">User Name</label>
                                    <input type="text" class="form-control" id="Username" name="Username" placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <label for="signin-password" class="control-label sr-only">Password</label>
                                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                                </div>
                                <input type="submit" id="signin" class="btn btn-primary btn-lg btn-block" value="Sign In" style="background-color:#7C1010 !important;">
                                <button class="btn btn-primary btn-lg btn-block loading" type="button" disabled style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Verifying...
                                </button>
                                @*<div class="bottom">
                                        <span>Don't have an account? <a href='@Url.Action(Actions.SignUp,Controllers.Account,new { Area=""})'>Register</a></span>
                                    </div>*@
                                <br />
                                @*<div style="text-align:center;">
                                        <h5>Powered by Marketeam Inc.</h5>
                                    </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->

    <script>
        jQuery(document).ready(function () {
            $("#wrgMsg").hide();
            $("#inactMsg").hide();
            FormValidation.init();
        });

        var FormValidation = function () {

            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frmLogin');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        Username: {
                            required: true
                        },
                        Password: {
                            required: true
                        }
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                     //   window.location.href = '@Url.Action(Actions.Index,Controllers.Dashboard)';
                        $("#signin").hide();
                        $(".loading").show();
                        $.ajax({
                            url: '@Url.Action(Actions.LogIn,Controllers.Account,new { Area="" })',
                            data: { username: $("#Username").val(),password:$("#Password").val()},
                            type: "POST",
                            dataType: "json",
                            success: function (result) {
                                $("#wrgMsg").hide();
                                if (result.Code == 200) {
                                    window.location.href = '@Url.Action(Actions.Index,Controllers.Dashboard, new { area=""})';

                                } else if (result.Code == 400 || result.Code == 403 || result.Code == 404) {
                                    $("#signin").show();
                                    $("#wrgMsg").text(result.Message)
                                    $("#wrgMsg").show();
                                    $(".loading").hide();
                                } else {
                                    $("#signin").show();
                                    $("#wrgMsg").text("An error occured !")
                                    $("#wrgMsg").show();
                                    $(".loading").hide();
                                }
                            }
                        });
                    }
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();
    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/datatable.js"></script>
    <script src="~/assets/validation/js/datatables.min.js"></script>
    <script src="~/assets/validation/js/datatables.bootstrap.js"></script>
    <script src="~/assets/validation/js/select2.full.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/table-datatables-buttons.min.js"></script>
    <script src="~/assets/validation/js/components-bootstrap-switch.min.js"></script>
    <script src="~/assets/validation/js/components-select2.min.js"></script>
    <script src="~/assets/validation/js/moment.min.js"></script>
    <script src="~/assets/validation/js/moment-with-locales.min.js"></script>
    <script src="~/assets/validation/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/validation/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/validation/js/layout.min.js"></script>
    <script src="~/assets/validation/js/demo.min.js"></script>
    <script src="~/assets/validation/js/quick-sidebar.min.js"></script>
    <script src="~/assets/validation/js/quick-nav.min.js"></script>
    <script src="~/assets/validation/js/common.js"></script>

</body>
<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
</html>




