﻿@using CargoXpress.Common;
@using CargoXpress.Pages;

  
<ul class="main-menu metismenu">
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})" id="Dashboard"><i class="icon-speedometer"></i><span>Dashboard</span></a></li>
    @*<li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Shippers,new { Area=""})" id="Shippers"><i class="fa fa-address-card"></i>Shippers</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Carriers,new { Area=""})" id="Carriers"><i class="fa fa-list-alt"></i>Carriers</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Jobs,new { Area=""})" id="Jobs"><i class="fa fa-briefcase"></i>Jobs  </a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.MasterPricingPlans,new { Area=""})" id="PricingPlans"><i class="fa fa-usd"></i>Manage Pricing Plans</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Support,new { Area=""})" id="Support"><i class="fa fa-ticket"></i>Support Tickets</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,"JobsFinder",new { Area=""})" id="QuickTracking"><i class="fa fa-location-arrow"></i>Quick Tracking</a></li>*@

    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Customers,new { Area=""})" id="Customers"><i class="icon-users"></i>Customers</a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.MasterPlans,new { Area=""})" id="MasterPlans"><i class="fa fa-briefcase"></i>Manage Plans  </a></li>
    <li class="custom"><a href="@Url.Action(Actions.Logout,Controllers.Account,new { Area=""})" id="Support"><i class="icon-logout"></i>Logout</a></li>

</ul>


