﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;

@model Carriers


@{
    ViewBag.Title = "Add/Edit Carrier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #7C1010;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .dt-buttons {
        visibility: hidden;
    }
</style>


<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Add / Edit Carrier</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Carriers,new { Area=""})">Manage Carriers</a>
                <li class="breadcrumb-item active" id="breadcrum">Add/Edit Carrier</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                @using (Html.BeginForm(Actions.AddEditCarrier, Controllers.Carriers, new { Area = "" }, FormMethod.Post, new { @id = "frmAddEditCarrier", @class = "text-left", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" id="Details" data-toggle="tab" href="#details">Details</a></li>
                        @*<li class="nav-item"><a class="nav-link" id="Documents" data-toggle="tab" href="#documents">Documents</a></li>
                            <li class="nav-item"><a class="nav-link" id="Addresses" data-toggle="tab" href="#addresses">Addresses</a></li>*@
                    </ul>
                    <div class="tab-content mt-2">
                        <div class="tab-pane active" id="details">
                            <div>                                
                               @Html.HiddenFor(model => model.Id, new { @class = "form-control" })                              
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>First Name<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Last Name<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Email<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">                                   
                                    <div class="col-md-4 col-sm-12">
                                        <label>Country Code<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.CountryId, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country Code", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Phone Number<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Company Name</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Trading License Number</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.TradingLicense, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Tin</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Tin, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Registrant Id</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.RegistrantId, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Factoring Service</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.FactoringService, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Status</label>
                                        <div class="form-group">
                                            @Html.DropDownListFor(model=>model.IsActive,
                                                               new SelectList(new List<SelectListItem> {
                                                                new SelectListItem { Text = "Active", Value = "true"},
                                                                new SelectListItem { Text = "InActive", Value = "false"}
                                                            }, "Value", "Text"),
                                                       "Select",
                                                        new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div style="float:right; padding:20px">
                                    <!--<button type="button" class="btn btn-primary">Add</button>-->
                                    <button type="submit" class="btn btn-primary saveBtn">Save</button>&nbsp;
                                    <button class="btn btn-primary loading" type="button" disabled="" style="display:none;">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </button>
                                    <button onclick="openLocation()" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function openLocation() {
            window.location.href = '@Url.Action(Actions.Index, Controllers.Carriers, new { Area = "" })';
        }
    jQuery(document).ready(function () {
        FormCarrierValidation.init();
    });
    var FormCarrierValidation = function () {
        // basic validation
        var handleValidation = function () {

            var form1 = $('#frmAddEditCarrier');
            var error1 = $('.alert-danger', form1);

            //jQuery.validator.addMethod("lettersonly", function (value, element) {
            //    return this.optional(element) || /^[a-z ]+$/i.test(value);
            //}, "Text Field Only");

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    FirstName: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    CountryCode: {
                        required: true,
                        number: true
                    },
                    PhoneNumber: {
                        required: true,
                        number: true
                    },
                    //CompanyName: {
                    //    required: true
                    //},

                    //TradingLicense: {
                    //    required: true,
                    //    number: true
                    //},
                    //Tin: {
                    //    required: true
                    //},
                    //RegistrantId: {
                    //    required: true,
                    //},
                    //FactoringService: {
                    //    required: true,
                    //},
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    //success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var cont = $(element).parent('.input-group');
                    if (cont.size() > 0) {
                        cont.after(error);
                    } else {
                        element.after(error);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    form.submit();
                }
            });
            $('#frmAddEditCarrier input').keypress(function (e) {
                if (e.which == 13) {

                    if ($('#frmAddEditCarrier').validate().form()) {
                        $('#frmAddEditCarrier').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation();
            }
        };
    }();
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}
@Html.Raw(ViewBag.openPopup)