﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()

@model Job


@{
    ViewBag.Title = "Ongoing Job Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #7C1010;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .dt-buttons {
        visibility: hidden;
    }
</style>

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Ongoing Job Details</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item active" id="breadcrum">@Model.JobNo / Job Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" id="Details" data-toggle="tab" href="#details">Job Details</a></li>
                        <li class="nav-item"><a class="nav-link" id="CarrierAndDriverDetails" data-toggle="tab" href="#carrieranddriverdetails">Carrier & Driver Details</a></li>
                        <li class="nav-item"><a class="nav-link" id="Activity" data-toggle="tab" href="#activity">Job Activity</a></li>
                        <li class="nav-item"><a class="nav-link" id="Bids" data-toggle="tab" href="#bids">Job Bids</a></li>
                        @*<li class="nav-item"><a class="nav-link" id="Addresses" data-toggle="tab" href="#addresses">Addresses</a></li>*@
                    </ul>
                    <div class="tab-content mt-2">
                        <div class="tab-pane active" id="details">
                            <div>                               
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Job No</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.JobNo, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Truck Type</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.TruckType, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Truck Service</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.TruckService, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    @if (Model.TruckService == "FCL")
                                    {
                                        <div class="col-md-4 col-sm-12">
                                            <label>No. Of Containers</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.NoOfContainer, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                    }
                                    @if (Model.TruckService == "FCL" || Model.TruckService == "FTL" || Model.TruckService == "LTL")
                                    {
                                        <div class="col-md-4 col-sm-12">
                                            <label>Actual Tonage</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ActualTonage, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                    }
                                    @if (Model.TruckService == "FTL" || Model.TruckService == "LTL")
                                    {<div class="col-md-4 col-sm-12">
                                            <label>Total Pallets</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.TotalPallets, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <label>CBM</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Cbm, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="row clearfix">                                   
                                    <div class="col-md-4 col-sm-12">
                                        <label>Commodity Type</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CommodityType, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Hs Code</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.HsCode, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Pick Up Address</label>
                                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query='@Model.PickupShipperAddressLattitude' + ',' + '@Model.PickupShipperAddressLongitude'"><i class="fa fa-map-marker"></i></a>
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.PickUpAddress, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Drop Off Address</label>
                                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query='@Model.DropoffShipperAddressLattitude' + ',' + '@Model.DropoffShipperAddressLongitude'"><i class="fa fa-map-marker"></i></a>
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.DropOffAddress, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Is Fragile</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.IsFargile, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">

                                    <div class="col-md-4 col-sm-12">
                                        <label>Is Express</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.IsExpres, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Est. Delivery Date</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CarrierEstDeliveryDate, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Created Date</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                </div>
                                <div style="float:right; padding:20px">
                                    <button onclick="openLocation()" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="carrieranddriverdetails">
                            <h5>CARRIER DETAILS</h5>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Profile</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <img src="~/Images/Carriers/'@Model.CarrierProfilePhoto'" class="img-radius" alt="Carrier-Profile-Image">
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Company Name</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Full Name</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.CarrierName, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Avg Rating</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <span class="rating" data-score="4"></span>
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Bid Amount</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Est. Delivery Date</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.CarrierEstDeliveryDate, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <h5>Driver Details</h5>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Profile</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <img src="~/Images/Drivers/'@Model.DriverProfilePhoto'" class="img-radius" alt="Carrier-Profile-Image">
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Driver Name</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="col-md-2 col-sm-12">
                                    <label>Truck Plate No.</label>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    @Html.TextBoxFor(model => model.TruckPlate, new { @class = "form-control", disabled = "" })
                                </div>
                            </div>
                            <h5>Driver's Locations</h5>
                            <div class="row clearfix form-group">
                                <div class="col-md-12 col-sm-12">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.4766982097503!2d-81.37967888491916!3d28.555444882448263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77af144eaaaab%3A0x84f58ee8038c3402!2sUS%20Equity%20Advantage!5e0!3m2!1sen!2sin!4v1586179521950!5m2!1sen!2sin" width="900" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="activity">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobActivityTable">
                                    <table class="table table-striped table-bordered table-hover" id="JobActivityTable"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="bids">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobBidsTable">
                                    <table class="table table-striped table-bordered table-hover" id="JobBidsTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>    

}
@section Scripts {
    <script>
    jQuery(document).ready(function () {
        TableDatatablesJobActivity.init();
        TableDatatablesJobBids.init();
    });

    function openLocation() {
        window.location.href = '@Url.Action(Actions.Index, Controllers.Dashboard, new { Area = "" })';
    }

        var TableDatatablesJobActivity = function () {

            var initJobActivityTable = function () {

                var table = $('#JobActivityTable');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.BindJobActivityData, Controllers.Dashboard, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria2()
                    },
                    "columns": [
                        {"title": "Date", "data": "CreatedDateStr", "orderable": false, "width": "5%"},
                        {"title": "Previous Status", "data": "PreviousJobStatus", "orderable": false, "width": "5%"},
                        {"title": "Current Status", "data": "CurrentJobStatus", "orderable": false, "width": "5%"},
                        {"title": "Note", "data": "Note", "orderable": false, "width": "5%"},
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                            {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#JobActivityTable")) {
                        $('#JobActivityTable').dataTable().fnDestroy();
                        $('#divJobActivityTable').html('<table class="table table-striped" width="100%" id="JobActivityTable"></table>');
                    }
                    initJobActivityTable();
                }
            };

        }();
    var TableDatatablesJobBids = function () {

        var initJobBidsTable = function () {

            var table = $('#JobBidsTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindJobBidsData, Controllers.Dashboard, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                    {
                        "title": "Carrier Name", "mData": function (data, type, dataToSet) {
                            //return '<img src="/Images/Carriers/90X90.jpg" class="rounded" alt="Carrier-Profile-Image" height="35px">' + "<br><span class='list-name'>" + data.CarrierName + "<br/>"+ data.CarrierEmail + "<br/>"+ data.CarrierCountryCode + " " + data.CarrierPhone +"</span>";
                            return "<span class='list-name'>" + data.CarrierName + "<br/>"+ data.RatingToCarrier +"</span>";
                        }, "orderable": false, "width": "5%"
                    },
                    {"title": "Company Name", "data": "CompanyName", "orderable": false, "width": "5%"},
                    {"title": "Bidded Amount", "data": "Price", "orderable": false, "width": "5%"},
                    {"title": "Job Completion Days", "data": "JobCompletionDays", "orderable": false, "width": "5%"},
                    {"title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%"},
                ],
    // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                    {
                        //text: 'Delete Selected Documents',
                        //className: 'addDelete',
                        //action: function (e, dt, node, config) {
                        //    //dt.ajax.reload();
                        //    ConfirmMessage();
                        //}
                    }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
        responsive: true,

        "lengthMenu": [
            [5, 10, 15, 20,1000],
            [5, 10, 15, 20,1000] // change per page values here
        ],
        // set the initial value

        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
        // So when dropdowns used the scrollable div should be removed.
        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#JobBidsTable")) {
                $('#JobBidsTable').dataTable().fnDestroy();
                $('#divJobBidsTable').html('<table class="table table-striped" width="100%" id="JobBidsTable"></table>');
            }
            initJobBidsTable();
        }
    };

    }();


     function BuildSearchCriteria2() {
    try {
        var param = {};
        param["JobId"] = @Model.Id;
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }

    function addRequestVerificationToken2(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
    }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>

}
