﻿
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .checkbox {
        width: 25px;
        height: 25px;
    }

    .addData {
        color: white !important;
        background: #138496 !important;
    }

    thead {
        background: #007AA9;
        color: white;
    }

    .addFilters {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .activecart {
        background-color: #007AA9;
    }

    .inactive {
        color: black;
        background-color: white;
    }

    .activecart .p-15 {
        color: white;
    }

    .addData {
        margin-right: 5px;
        margin-bottom: 10px;
    }
</style>
@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@Html.AntiForgeryToken()

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i style="color:#007AA9 !important;" class="fa fa-arrow-left"></i></a> Support</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a>
                <li class="breadcrumb-item active">Support</li>
            </ul>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divSupportTable">
                        <table class="table table-striped table-bordered table-hover" id="SupportTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>

    var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#SupportTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.Support, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Support #", "data": "",
                    "render": function (data, type, row) {
                        return '<a href="@Url.Action(Actions.SupportDetails,Controllers.Support)?ri=' + btoa(row["Id"]) + '"><b>'+row["SupportNo"]+'</b></a>'
                    }
                    , "orderable": false, "width": "2%" },
                { "title": "Raised By", "data": "UserType", "orderable": false, "width": "2%" },
                { "title": "Issue", "data": "Issue", "orderable": false, "width": "2%" },
                {
                     "title": "Shipper Details","data": "",
                    "render": function (data, type, row) {
                        if (row["ShipperName"] == null) {
                            return "-";
                        } else {
                            var htmlData = '';
                            var htmlData = '';
                            htmlData += '<h6><i class="icon-user"></i>&nbsp;&nbsp;' + row["ShipperName"] + '</h6>';
                            htmlData += '<span><i class="icon-envelope-open"></i>&nbsp;&nbsp;<a href="mailto:' + row["ShipperEmail"] + '">' + row["ShipperEmail"] + '</a><br/><i class="icon-call-out"></i>&nbsp;&nbsp;<a href="tel:' + row["ShipperPhoneNumber"] + '">' + row["ShipperPhoneNumber"] + '</a></span><br/>';
                            htmlData += '<h6><i class="icon-book-open"></i>&nbsp;&nbsp;<a href="#"><b>' + row["JobNumber"] + '<b></a></h6>';
                            return htmlData;
                        }
                     }
                     , "orderable": false, "width": "1%"
                },
                {
                     "title": "Carrier Details","data": "",
                    "render": function (data, type, row) {
                        if (row["CarrierName"] == null) {
                            return "-";
                        } else {
                            var htmlData = '';
                            var htmlData = '';
                            htmlData += '<h6><i class="icon-user"></i>&nbsp;&nbsp;' + row["CarrierName"] + '</h6>';
                            htmlData += '<span><i class="icon-envelope-open"></i>&nbsp;&nbsp;<a href="mailto:' + row["CarrierEmail"] + '">' + row["CarrierEmail"] + '</a><br/><i class="icon-call-out"></i>&nbsp;&nbsp;<a href="tel:' + row["CarrierPhoneNumber"] + '">' + row["CarrierPhoneNumber"] + '</a></span><br/>';
                            htmlData += '<h6><i class="icon-book-open"></i>&nbsp;&nbsp;<a href="#"><b>' + row["JobNumber"] + '<b></a></h6>';
                            return htmlData;
                        }
                     }
                     , "orderable": false, "width": "1%"
                },
                { "title": "Complain Date", "data": "CreatedDateStr", "orderable": false, "width": "1%" },
                { "title": "Close Date", "data": "CloseDateStr", "orderable": false, "width": "1%" },
                {
                   "title": "Status", "data": "",
                    "render": function (data, type, row) {
                       if (row["StatusId"] == 12) {
                           return '<button class="badge badge-info" onclick=Solve(' + row["Id"] + ') style="cursor:pointer;">In-Process</button>';
                       } else if (row["StatusId"] == 13) {
                           return '<button class="badge badge-success" onclick=UnSolve(' + row["Id"] + ')>Solved</button>';
                       }
                   },
                   "orderable": false, "width": "1%"
                },

                

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                 @*{
                    text: 'Add New Location',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        window.location.href = '@Url.Action(Actions.Index,Controllers.Location)';
                    }
                },
                {
                    text: 'Advance Search',
                    className: 'addFilters',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenLocationFilters();
                    }
                },
                {
                    text: 'Delete',
                    className: @ProjectSession.UserType == 1 ? 'addDelete':'hideDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        ConfirmMessage('locations');
                    }*@
               // }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#SupportTable")) {
                $('#SupportTable').dataTable().fnDestroy();
                $('#divSupportTable').html('<table class="table table-striped" width="100%" id="SupportTable"></table>');
            }
            initTable1();
        }
    };

}();

    function BuildSearchCriteria() {
    try {
        var param = {};
         return addRequestVerificationToken(param);
    } catch (e) { }
    }

    function addRequestVerificationToken(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
        }


    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();
    });

    function Solve(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be changing the status to  solved !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id, 12);
        });
        }

        function UnSolve(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be changing the status to  un-solved !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ActInact(Id, 13);
            });
        }


        function ActInact(rui, id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActInact,Controllers.Support)',
                data: ({ ri: rui }),
                dataType: 'json',
                success: function (response) {
                    if (id == 13) {
                        swal("UnSolved !", "The Support Ticket Un-Solved successfully.", "success");
                    } else if (id == 12) {
                        swal("Activated !", "The Support Ticket Solved successfully.", "success");
                    }
                    TableDatatablesColreorder.init();
                },
                error: function (error) {
                    swal("Error !", "An error occured while changing the support status.", "error");
                    TableDatatablesColreorder.init();
                }
            });
        }
    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}

