﻿@{
    ViewBag.Title = "MasterPricingPlans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@Html.AntiForgeryToken()

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #7C1010;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Pricing Plans</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Manage Pricing Plans</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="upsert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="smallModalLabel">MasterPricingPlans Details</h6>
            </div>

            <div class="modal-body">
                <form class="form-auth-small" method="post" id="frmClient">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="PlanName" name="PlanName" class="form-control" placeholder="Plan Name*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="Description" name="Description" class="form-control" placeholder="Description*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("UserType", (IEnumerable<SelectListItem>)ViewBag.UserTypeName, "Select User Type", new { @Id = "UserType", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="number" id="Price" name="Price" class="form-control" placeholder="Price*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="number" id="TimeLimit" name="TimeLimit" class="form-control" placeholder="Time Limit (In Months)*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="number" id="AdvPayPerc" name="AdvPayPerc" class="form-control" placeholder="Adv.Pay (%)*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="number" id="TotalNoOfInterServices" name="TotalNoOfInterServices" class="form-control" placeholder="Total International Services*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="number" id="AdditionalServicePrice" name="AdditionalServicePrice" class="form-control" placeholder="Add. Service Amt*">
                            </div>
                        </div>
                        

                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="Save" class="btn btn-primary saveBtn" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <button type="button" class="btn btn-secondary closeBtn" onclick="CloseUpsert();" id="Close">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}


@section Scripts {
    <script>
        jQuery(document).ready(function () {
            $("#Id").val(@ViewBag.Id);
            TableDatatablesColreorder.init();
            FormClientValidation.init();
        });

        var FormClientValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmClient');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        //MasterPricingPlans: {
                        //    required: true,
                        //    number: true
                        //},
                        PlanName: {
                            required: true,
                        },
                        Description: {
                            required: true,
                        },
                        Price: {
                            required: true,
                        },
                        TimeLimit: {
                            required: true,
                        },
                        AdvPayPerc: {
                            required: true,
                        },
                        TotalNoOfInterServices: {
                            required: true,
                        },
                        AdditionalServicePrice: {
                            required: true,
                        },
                        UserType: {
                            required: true,
                        },
                        //PiyarnugaamGujarat: {
                        //    required: true,
                        //},
                        //PiyarnugaamRajasthan: {
                        //    required: true,
                        //},
                        //Piyarnugotra: {
                        //    required: true,
                        //},
                        //Mobile: {
                        //    required: true,
                        //},
                        //Email: {
                        //    required: true,
                        //},

                        //Url: {
                        //    required: true,
                        //},
                        ////MobileNumber: {
                        //    required: true
                        //}
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Upsert();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();

    var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.MasterPricingPlans, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Name", "data": "PlanName", "orderable": false, "width": "1%" },
                //{
                //    "title": "MasterPricingPlansDetails", "data": "",
                //    "render": function (data, type, row) {
                //        var htmlData = '';
                //        // htmlData += '<img src="' + row["Url"] + '" alt="No Image Found"/>';
                //        htmlData += '<p>' + '<b>NAME: ' + row["Name"] + '</b></p>';
                //        htmlData += '<p>' + '<b>Date Of Birth: </b>' + row["DateOfBirth"] + '</p>';
                //        htmlData += '<p>' + '<b>PhoneNumber: </b>' + row["Mobile"] + '</p>';
                //        htmlData += '<p>' + '<b>Piyarnugotra: </b>' + row["Piyarnugotra"] + '</p>';
                //        return htmlData;
                //    }
                //    , "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "Name", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["Name"];
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "DateOfBirth", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["DateOfBirth"];
                //    },
                //    "orderable": false, "width": "1%"
                //},
                { "title": "Price ($)", "data": "Price", "orderable": false, "width": "1%" },
                { "title": "Time Limit (In Months)", "data": "TimeLimit", "orderable": false, "width": "1%" },
                { "title": "Advance Pay (%)", "data": "AdvPayPerc", "orderable": false, "width": "1%" },
                { "title": "Total International Services", "data": "TotalNoOfInterServices", "orderable": false, "width": "1%" },
                { "title": "Add. Service Amt ($)", "data": "AdditionalServicePrice", "orderable": false, "width": "1%" },
                { "title": "User", "data": "UserTypeName", "orderable": false, "width": "1%" },



                //{
                //    "title": "Piyarnugotra", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["Piyarnugotra"];
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{ "title": "MasterPricingPlans", "data": "MasterPricingPlans", "orderable": false, "width": "1%" },
                //{
                //    "title": "Mobile", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["Mobile"] ;
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "Email", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["Email"];
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    //"title": "MasterPricingPlans1" ,"data": "",
                //    "render": function (data, type, row) {
                //        var htmlData = '';
                //        //htmlData += '<img class="rounded-circle width35" src="' + row["Url"] + '"/>';
                //        return htmlData;
                //    }
                //    , "orderable": false, "width": "5%"
                //},
                //{ "title": "Description", "data": "Description", "orderable": false, "width": "1%" },
                //{ "title": "Created Date", "data": "CreatedOnStr", "orderable": false, "width": "5%" },

                //{
                //    //"title": "Description", "data": "",
                //    "render": function (data, type, row) {
                //        var htmlData = '';
                //        htmlData += '<img class="rounded-circle width35" src="' + row["Url"] + '"/>';
                //        return htmlData;
                //    }
                //    , "orderable": false, "width": "5%"
                //},
               {
                   "title": "Status", "data": "",
                   "render": function (data, type, row) {
                       if (row["IsActive"]) {
                           return '<button class="badge badge-success" onclick=InactiveMessage("' + btoa(row["Id"]) + '") style="cursor:pointer;">Active</button>';
                       } else {
                           return '<button class="badge badge-danger" onclick=ActiveMessage("' + btoa(row["Id"]) + '") style="cursor:pointer;">In-Active</button>';
                       }
                   },
                   "orderable": false, "width": "3%"
               },
               
               {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        //appendstring += '<a href="@Url.Action(Actions.MasterPricingPlansDetails, Controllers.MasterPricingPlans)?ri=' + btoa(row["Id"]) + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" style="cursor:pointer;" title="Edit Master Pricing Plans Details"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Add Pricing Plan',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        OpenAddNewItem();
                    }
                }

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

        function BuildSearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        jQuery(document).ready(function () {
            TableDatatablesColreorder.init();
            FormClientValidation.init();
        });




//confirmation toaster
function InactiveMessage(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be in-activating the Master Pricing Plans !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"inactivate");
        });
    }

        //confirmation toaster
    function ActiveMessage(Id) {
        swal({
            title: "Are you ?",
            text: "You will be activating the Master Pricing Plans !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"activate");
        });
        }


        //ajax call function
        function ActInact(rui, type) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActInact,Controllers.MasterPricingPlans)',
                data: ({ ri: rui }),
                dataType: 'json',
                success: function (response) {
                    if (type == "inactivate") {
                        swal("In Activated !", "The Master Pricing Plans Data has been in-activated successfully.", "success");
                    } else if (type == "activate") {
                        swal("Activated !", "The Master Pricing Plans Data has been activated successfully.", "success");
                    }
                    TableDatatablesColreorder.init();
                },
                error: function (error) {
                    if (type == "inactivate") {
                        swal("Error !", "An error occured while in-activating the Master Pricing Plans Data.", "error");
                    } else if (type == "activate") {
                        swal("Error !", "An error occured while activating the Master Pricing Plans Data.", "error");
                    }
                    // refresh the grid.
                    TableDatatablesColreorder.init();
                }
            });
        }
       

function OpenAddNewItem(Id) {
            if (Id > 0) {
                $("#smallModalLabel").text("Edit Master Pricing Plans");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();

                $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.GetById, Controllers.MasterPricingPlans)",
                      async: false,
                      data: ({Id: Id}),
                      dataType: 'json',
                    success: function (response) {
                        if (response != null && response.Code == 200 && response.Item != null) {
                            $("#Id").val(response.Item.Id);
                            $("#PlanName").val(response.Item.PlanName);
                            $("#Description").val(response.Item.Description);
                            $("#Price").val(response.Item.Price);
                            $("#TimeLimit").val(response.Item.TimeLimit);
                            $("#AdvPayPerc").val(response.Item.AdvPayPerc);
                            $("#TotalNoOfInterServices").val(response.Item.TotalNoOfInterServices);
                            $("#AdditionalServicePrice").val(response.Item.AdditionalServicePrice);
                            $("#UserType").val(response.Item.UserType);
                            $('#upsert').modal('show');
                        }
                      },
                    error: function (response) {
                          CloseUpsert();
                      }
                });

            } else {
                $("#smallModalLabel").text("Add MasterPricingPlans");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();
                $('#upsert').modal('show');
            }
        }
        function Upsert() {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();
            $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.Upsert,Controllers.MasterPricingPlans)",
                      async: false,
                data: ({
                    Id: $("#Id").val(), PlanName: $("#PlanName").val(), Description: $("#Description").val(), Price: $("#Price").val(), TimeLimit: $("#TimeLimit").val(), AdvPayPerc: $("#AdvPayPerc").val(), TotalNoOfInterServices: $("#TotalNoOfInterServices").val(), AdditionalServicePrice: $("#AdditionalServicePrice").val(), UserType: $("#UserType").val()}),
               
                dataType: 'json',
                      success: function (response) {
                          if (response.Code == 200) {
                              CloseUpsert();
                              swal("Great!", "Details Saved !", "success");
                              TableDatatablesColreorder.init();
                          } else {
                              swal("Oops!", response.Message, "error");
                              CloseUpsert();
                          }
                      },
                error: function (response) {
                    swal("Opps!", "An error occured ! Please try again.", "error");
                    CloseUpsert();
                      }
                });
        }

    function CloseUpsert() {
        $("#Id").val(0);
        $("#PlanName").val('');
        $("#Description").val('');
        $("#Price").val('');
        $("#TimeLimit").val('');
        $("#AdvPayPerc").val('');
        $("#TotalNoOfInterServices").val('');
        $("#AdditionalServicePrice").val('');
        $("#UserType").val('');
        $(".saveBtn").show();
        $(".loading").hide();
        $(".closeBtn").show();
        $("#upsert").modal("hide");
    }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}