﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()

@model Customers


@{
    ViewBag.Title = "Liscence Key Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #7C1010;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .pagination > li > a, .pagination > li > span {
        padding: 10px;
    }

    .pagination > .active > a, .pagination > .active > span {
        color: #fff;
    }
</style>


<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Liscence Key Details</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Customers,new { Area=""})"><i class="icon-user"></i></a></li>
                <li class="breadcrumb-item active">@ViewBag.CustomerName 's Liscence Key Details</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="float:right; padding:20px">
    <button onclick="openLocation()" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
</div>


<div class="modal animated fadeIn" id="upsert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="smallModalLabel">Customer Plans Details</h6>
            </div>

            <div class="modal-body">
                <form class="form-auth-small" method="post" id="frmClient">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        <input type="hidden" id="CustomerId" />
                        <div class="col-md-4 col-sm-12">
                            <label> PlanName </label>
                            <div class="form-group">
                                @*<input type="text" id="PlanName" name="PlanName" class="form-control" placeholder="Enter PlanName*">*@
                                <select class="custom-select" id="PlanName"
                                        style="background-color: #f5f5f5 !important;border: none;">
                                    <option selected="selected" value=""> Select Plan Name</option>
                                    <option value="Individual - $59.99"> Individual - $59.99</option>
                                    <option value="Corporate Plan - $69.99">Corporate Plan - $69.99</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label> Transaction Number </label>
                            <div class="form-group">
                                <input type="text" id="TransactionNumber" name="TransactionNumber" class="form-control" placeholder="Enter Transaction Number*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label> Start Date</label>
                            <div class="form-group">
                                <input type="date" id="StartDate" name="StartDate" class="form-control" placeholder="Enter Start Date*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>End Date</label>
                            <div class="form-group">
                                <input type="date" id="EndDate" name="EndDate" class="form-control" placeholder="Enter End Date *">
                            </div>
                        </div>
                        @*<div class="col-md-4 col-sm-12">
            <label>No Of Months</label>
            <div class="form-group">
                <input type="text" id="NoOfMonths" name="NoOfMonths" class="form-control" placeholder="Enter Number Of Months *">
            </div>
        </div>*@
                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="Save" class="btn btn-primary saveBtn" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <button type="button" class="btn btn-secondary closeBtn" onclick="CloseUpsert();" id="Close">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}



@section Scripts {
    <script>
    jQuery(document).ready(function () {
        $("#Id").val(@ViewBag.Id);
        TableDatatablesColreorder.init();
        FormClientValidation.init();
    });

        function openLocation() {
            window.location.href = '@Url.Action(Actions.Index, Controllers.Customers, new { Area = "" })';
        }

    var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindCustomerTransactionsData, Controllers.Customers, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "Plan Details", "data": "",
                    "render": function (data, type, row) {
                        return "<b> Name:  </b>" + row["PlanName"] + "</br> <b> No Of Months:  </b>" + row["NoOfMonths"] + "</br> <b> Amount:  </b>" + row["Amount"] ;
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Liscence Key", "data": "",
                    "render": function (data, type, row) {
                        return "<center>" + row["LiscenceKey"] + "</center>";
                    },
                    "orderable": false, "width": "1%"
                },

                {
                    "title": "Start Date", "data": "",
                    "render": function (data, type, row) {
                        return "<center>" + row["StartDateStr"] + "</center>";
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "End Date", "data": "",
                    "render": function (data, type, row) {
                        return "<center>" + row["EndDateStr"] + "</center>";
                    },
                    "orderable": false, "width": "1%"
                },
                {
                   "title": "Is Reedemed ?", "data": "",
                   "render": function (data, type, row) {
                       if (row["IsRedeemed"]) {
                           return '<button class="badge badge-success" style="cursor:pointer;">Yes</button>';
                       } else {
                           return '<button class="badge badge-danger" style="cursor:pointer;">No</button>';
                       }
                   },
                   "orderable": false, "width": "3%"
                },
                {
                    "title": "Redeemed Date", "data": "",
                    "render": function (data, type, row) {
                        return "<center>" + row["RedeemedDateStr"] + "</center>";
                    },
                    "orderable": false, "width": "1%"
                },
                {
                   "title": "Is Expired ?", "data": "",
                   "render": function (data, type, row) {
                       if (row["IsExpired"]) {
                           return '<button class="badge badge-success" style="cursor:pointer;">Yes</button>';
                       } else {
                           return '<button class="badge badge-danger" style="cursor:pointer;">No</button>';
                       }
                   },
                   "orderable": false, "width": "3%"
               },
                {
                    "title": "Created Date", "data": "",
                    "render": function (data, type, row) {
                        return "<center>" + row["CreatedDateStr"] + "</center>";
                    },
                    "orderable": false, "width": "1%"
                },
                 {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (!row["IsRedeemed"]) {
                            appendstring += '<button class="btn btn-sm btn-outline-secondary button-remove" onclick=ReSendInvitation(' + row["Id"] + ','+row["CustomerId"]+') title="Send Liscence Key"><i class="icon-envelope-open" aria-hidden="true"></i></button>';
                        }

                        return appendstring;
                    },
                    "width": "1%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Add New Plan',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        //OpenAddNewItem();
                        $('#upsert').modal('show');
                    }
                }

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [3, 5, 10, 15, 20,1000],
                [3, 5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

        function BuildSearchCriteria() {
            try {
                var param = {};
                param["CustomerId"] = @ViewBag.Id;
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
            }

    function ReSendInvitation(rui,i) {

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ReSendInvitation,Controllers.Customers)',
            data: ({Id: rui, CustomerId: i}),
            dataType: 'json',
            success: function (response) {
                if (response == 200) {
                    swal("Great!", "Key sent successfully", "success");
                } else if (response == 400) {
                    swal("Oops !", "An error occurred", "error");
                }
            },
            error: function (error) {
                swal("Oops !", "An error occurred", "error");
            }
        });
    }




        var FormClientValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmClient');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        PlanName: {
                            required: true,
                        },
                        TransactionNumber: {
                            required: true,
                        },
                        StartDate: {
                            required: true,
                        },
                        EndDate: {
                            required: true,
                        },


                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        debugger;
                            $("#Id").val(0);
                            $("#CustomerId").val(@ViewBag.Id);
                            $(".saveBtn").hide();
                            $(".loading").show();
                            $(".closeBtn").hide();
                            $.ajax({
                                      type: 'POST',
                                      url: "@Url.Action(Actions.Upsert,Controllers.Customers)",
                                      async: false,
                                      data: ({ Id: $("#Id").val(), CustomerId: $("#CustomerId").val(), PlanName: $("#PlanName").val(), StartDate: $("#StartDate").val(), EndDate: $("#EndDate").val(), TransactionNumber: $("#TransactionNumber").val() }),
                                      dataType: 'json',
                                      success: function (response) {
                                          if (response.Code == 200) {
                                              CloseUpsert();
                                              swal("Great!", "Details Saved !", "success");
                                              TableDatatablesColreorder.init();
                                          } else {
                                              swal("Oops!", response.Message, "error");
                                              CloseUpsert();
                                          }
                                      },
                                error: function (response) {
                                    swal("Opps!", "An error occured ! Please try again.", "error");
                                    CloseUpsert();
                                      }
                                });

                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();



        function CloseUpsert() {
            $("#Id").val(0);
            $("#PlanName").val('');
            $("#StartDate").val('');
            $("#EndDate").val('');
            $("#TransactionNumber").val('');
            $(".saveBtn").show();
            $(".loading").hide();
            $(".closeBtn").show();            
            $("#upsert").modal("hide");
        }



    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}