﻿
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .checkbox2 {
            width: 25px;
            height: 25px;
        }

        thead {
            background: #7C1010;
            color: white;
        }

        .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #e73d4a
        }

        .has-error .form-control {
            border-color: #e73d4a;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        }

            .has-error .form-control:focus {
                border-color: #d71b29;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
            }

        .has-error .input-group-addon {
            color: #e73d4a;
            border-color: #e73d4a;
            background-color: #fbe1e3
        }

        .addDelete {
            color: black !important;
            background: #e9e9e9 !important;
        }

        .hideDelete {
            display: none !important;
        }
        .pagination > li > a, .pagination > li > span {
            padding: 10px;
        }

        .pagination > .active > a, .pagination > .active > span {
            color: #fff;
        }
    </style>
@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@Html.AntiForgeryToken()

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Customers</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Customers</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="upsert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="smallModalLabel">Customers Details</h6>
            </div>

            <div class="modal-body">
                <form class="form-auth-small" method="post" id="frmClient">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="Enter Your FirstName*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Enter Your LastName*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="Email" name="Email" class="form-control" placeholder="Enter Your Email *">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="Mobile" name="Mobile" class="form-control" placeholder="Enter Your Mobile *">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="CustomerKey" name="CustomerKey" class="form-control" placeholder="Enter Your CustomerKey *">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="CustomerKey" name="CustomerKey" class="form-control" placeholder="Enter Your CreatedDate *">
                            </div>
                        </div>


                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="Save" class="btn btn-primary saveBtn" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <button type="button" class="btn btn-secondary closeBtn" onclick="CloseUpsert();" id="Close">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>
        jQuery(document).ready(function () {
            $("#Id").val(@ViewBag.Id);
            TableDatatablesColreorder.init();
            FormClientValidation.init();
        });

        var FormClientValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmClient');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        //Customers: {
                        //    required: true,
                        //    number: true
                        //},
                        FirstName: {
                            required: true,
                        },
                        LastName: {
                            required: true,
                        },
                        Email: {
                            required: true,
                            email:true
                        },
                        Mobile: {
                            required: true,
                            number:true
                        },
                        CustomerKey: {
                            required: true,
                        },


                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Upsert();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();

    var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.Customers, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "Customer Details", "mData": function (data, type, dataToSet) {
                        return "<span class='list-name'><b><i class='icon-user'></i>&nbsp;&nbsp;" + data.FirstName + "</b></span><span class='list-name'><b>&nbsp;" + data.LastName + "</b></span><br/><span><i class='icon-call-out'></i>&nbsp;&nbsp;<a href='tel:" + data.Mobile + "'>" + data.Mobile + "</a></span> </br> <span><i class='icon-envelope-open'></i>&nbsp;&nbsp;<a href='mailto:" + data.Email + "'>" + data.Email + "</a></span><br/>";
                    }, "orderable": false, "width": "5%"
                },
                {
                    "title": "Customer Key", "data": "",
                    "render": function (data, type, row) {
                        return "<b>" + row["CustomerKey"] + "</b>";
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "CreatedDate", "data": "",
                    "render": function (data, type, row) {
                        return "<b>" + row["CreatedDateStr"] + "</b>";
                    },
                    "orderable": false, "width": "1%"
                },

                //{ "title": "Description", "data": "Description", "orderable": false, "width": "1%" },
               {
                   "title": "Status", "data": "",
                   "render": function (data, type, row) {
                       if (row["IsActive"]) {
                           return '<button class="badge badge-success" onclick=InactiveMessage("' + btoa(row["Id"]) + '") style="cursor:pointer;">Active</button>';
                       } else {
                           return '<button class="badge badge-danger" onclick=ActiveMessage("' + btoa(row["Id"]) + '") style="cursor:pointer;">In-Active</button>';
                       }
                   },
                   "orderable": false, "width": "3%"
               },
              {
                   "title": "Plan Status", "data": "",
                   "render": function (data, type, row) {
                       if (row["IsPlanActive"]) {
                           return '<button class="badge badge-success" style="cursor:pointer;">Active</button>';
                       } else {
                           return '<button class="badge badge-danger" style="cursor:pointer;">In-Active</button>';
                       }
                   },
                   "orderable": false, "width": "3%"
               },
               @*{
                    "title":"Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a href="@Url.Action(Actions.CustomersDetails, Controllers.Customers)?ri=' + btoa(row["Id"]) + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                },*@
               {
                    "title": "Actions",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a href="@Url.Action(Actions.CustomersDetails, Controllers.Customers)?ri=' + btoa(row["Id"]) + '" class="btn btn-sm btn-outline-secondary" title="View Liscence Details"><i class="icon-key"></i></a>&nbsp;&nbsp;';
                        appendstring += '<a href="@Url.Action(Actions.CustomersActivities, Controllers.Customers)?ri=' + btoa(row["Id"]) + '" class="btn btn-sm btn-outline-secondary" title="View Activity Details"><i class=" icon-direction"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" title="Edit Customers"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=ConfirmMessage("' + btoa(row["Id"]) + '") title="Delete Customers"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "1%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                //{
                //    text: 'Add New Customers',
                //    className: 'addData',
                //    action: function (e, dt, node, config) {
                //        OpenAddNewItem();
                //    }
                //}

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [3, 5, 10, 15, 20,1000],
                [3, 5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

        function BuildSearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        jQuery(document).ready(function () {
            $("#Id").val(@ViewBag.Id);
            TableDatatablesColreorder.init();
            FormClientValidation.init();
        });


        function InactiveMessage(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be in-activating the Customers !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
                ActInact(Id,"inactivate");
        });
    }

        //confirmation toaster
    function ActiveMessage(Id) {
        swal({
            title: "Are you ?",
            text: "You will be activating the Customers !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"activate");
        });
        }


        //ajax call function
        function ActInact(rui, type) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActInact, Controllers.Customers)',
                data: ({ ri: rui }),
                dataType: 'json',
                success: function (response) {
                    if (type == "inactivate") {
                        swal("In Activated !", "The Customers has been in-activated successfully.", "success");
                    } else if (type == "activate") {
                        swal("Activated !", "The Customers has been activated successfully.", "success");
                    }
                    TableDatatablesColreorder.init();
                },
                error: function (error) {
                    if (type == "inactivate") {
                        swal("Error !", "An error occured while in-activating the Customers.", "error");
                    } else if (type == "activate") {
                        swal("Error !", "An error occured while activating the Customers.", "error");
                    }
                    // refresh the grid.
                    TableDatatablesColreorder.init();
                }
            });
        }

        function OpenAddNewItem(Id) {
            if (Id > 0) {
                $("#smallModalLabel").text("Edit Customers");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();

                $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.GetById, Controllers.Customers)",
                      async: false,
                      data: ({Id: Id}),
                      dataType: 'json',
                    success: function (response) {
                        if (response != null && response.Code == 200 && response.Item != null) {
                            $("#Id").val(response.Item.Id);
                            $("#FirstName").val(response.Item.FirstName);
                            $("#LastName").val(response.Item.LastName);
                            $("#Email").val(response.Item.Email);
                            $("#Mobile").val(response.Item.Mobile);
                            $("#CustomerKey").val(response.Item.CustomerKey);
                            $("#CreatedDate").val(response.Item.CreatedDate);


                            $('#upsert').modal('show');
                        }
                      },
                    error: function (response) {
                          CloseUpsert();
                      }
                });

            } else {
                $("#smallModalLabel").text("Add New Customers");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();
                $('#upsert').modal('show');
            }
        }
        // CommitteeType: $("#CommitteeType").val(),

        //function CloseUpsert() {
        //    $("#Id").val(0);
        //    $("#FirstName").val('');
        //    $("#LastName").val('');
        //    $("#Email").val('');
        //    $("#Password").val('');
        //    $("#Mobile").val('');
        //    $("#CustomerKey").val('');
        //    $("#Education").val('');
        //    $("#BloodGroupId").val('');
        //    $("#DivisionId").val('');
        //    $("#ClassId").val('');
        //
        //    $(".saveBtn").show();
        //    $(".loading").hide();
        //    $(".closeBtn").show();
        //    $("#upsert").modal("hide");
        //}



    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}